[2021-03-18 08:50] awsa2ron commented on #304
@bahildebrand Sure!
Thanks.

[2021-03-18 08:50] #304 closed

[2021-03-20 01:06] bahildebrand commented on #283
@smirnoal were you able to come up with any data comparing libcurl and hyper?

[2021-03-20 01:07] bahildebrand commented on #260
@rimutaka 0.3 has been released, so no need to wait.

[2021-03-20 01:09] bahildebrand commented on #249
@rimutaka what is the status on this now that #244 has been merged?

[2021-03-20 23:46] rimutaka commented on #249
@bahildebrand Blake, I lost track of it, but a quick look at the master branch tells me it's not really finished. I stand to be corrected, though.

#### lambda-runtime

1. The structures are there (https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-runtime/src/types.rs#L83 and https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-runtime/src/types.rs#L109)
2. The

[2021-03-21 05:52] rimutaka commented on #290
Can someone with iOS knowledge help me rephrase this part? I should be able to make the rest of the changes.

  * **Note:** If you are running on Mac OS you'll need to install the linker for the target platform. You do this using the `musl-cross` tap from [Homebrew](https://brew.sh/) which provides a complete cross-compilation toolchain for Mac OS. Once `musl-cross` is installed we will also need

[2021-03-21 14:24] davidbarsky commented on #249
If I recall correctly, the CognitoIdentity and ClientContext values are _only_ filled by early iterations of the mobile SDKs that directly invoked a Lambda function. This pattern is now discouraged and we now suggest that customers invoke Lambda functions through an API Gateway or an ALB. While we _can_ fill in these values, I think that `ClientContext` and `CognitoIdentity` should be marked as `#

[2021-03-22 00:33] rimutaka commented on #260
PR #308 is really 2 PRs in one:
* setting env_config, which was missing from the very beginning of the project
* adding Ser/Deser to Context and Config

Both changes seem to be low risk and are fully backward compatible.

I'm on standby for any changes from the PR review.

[2021-03-28 11:06] rasviitanen opened #310 "avoid static lifetime requirement for handler functions"
I would like to remove the requirement of having `'static` bounds on the handler generics if possible. This would make it easier to pass in shared resources that have been setup/created before creating the handler and avoid a bunch of cloning.

It seems like a `tokio::spawn` is used to produce a future here:
https://github.com/awslabs/aws-lambda-rust-runtime/blob/d3ff4352c4b0e64fb46af2ca425db39211

[2021-03-28 14:34] bahildebrand commented on #310
We use `tokio::spawn` in this case to allow us to handle multiple requests at once. I'd recommend reading through the whole tutorial, but [this](https://tokio.rs/tokio/tutorial/spawning) section in particular goes over why would want to use `tokio::spawn`.  Your changes would allow us to only respond to a single invocation of the lambda at a time.

For you specific example I would suggest reading

[2021-03-28 14:57] #260 closed

[2021-03-28 15:36] rasviitanen commented on #310
I know how to solve the problem and I am fully aware of what a static lifetime is and why the requirement exists.
My point is that it might not be required to have a static lifetime here.

re:

Given the code today, the code is essentially reduced to:

[code]

If we clean it up a bit and add an example "handler".

[code]
So the flow is:

1. An event is taken from the incoming queue
2. A future to

[2021-03-28 18:39] rimutaka commented on #310
I have never seen more than one invocation per lambda instance at a time from AWS. It would either start a new instance or throttle the request until a lambda instance becomes available. So even if we can process multiple requests it never happens.
Am I mistaken?

[2021-03-28 18:42] rimutaka commented on #310
If changes proposed by @rasviitanen don't go ahead I suggest we add an example for using Arc with a shared resource as per https://github.com/awslabs/aws-lambda-rust-runtime/issues/310#issuecomment-808905301

[2021-03-28 19:02] bahildebrand commented on #310
@rasviitanen Sorry, I think I misread your initial request and may have come off a bit condescending.  That was not my intent. Looking at the code section more carefully I think you're correct in that we're not running these events concurrently now, and that our use of `tokio::spawn` in this context doesn't make a ton of sense. Based on @rimutaka 's comment this is either a logic error, or that I

[2021-03-28 19:40] bahildebrand opened #311 "Execute lambda invocations concurrently"
In #310  it was pointed out that we are currently not executing lambda invocations concurrently. This code section has us spawn a task that is immediately waited, so another invocations is not pulled in until the current is finished.

https://github.com/awslabs/aws-lambda-rust-runtime/blob/d3ff4352c4b0e64fb46af2ca425db39211237e26/lambda-runtime/src/lib.rs#L160-L162

This loop needs to be reworked

[2021-03-28 19:47] rasviitanen commented on #310
@bahildebrand no problem! I think you are right that the correct solution here isn't to remove the spawn, but rather to fix the loop such that it runs concurrently. Thanks for looking into this! :)

[2021-03-29 01:43] bahildebrand commented on #311
After further investigation this is not in line with what is expected from the lambda runtime API.

[2021-03-29 01:43] #311 closed

[2021-03-29 01:51] bahildebrand commented on #310
To continue the tradition of bouncing back and forth. @rimutaka brought up a good point in a separate thread. Handling these invocations in parallel would break the model for resource management in lambda. I think you were correct in that we can probably remove the `'static` lifetime. The use of `tokio::spawn` looks to be an artifact of a refactor when async/await support was added in the past.

A

[2021-03-29 02:11] rasviitanen commented on #310
@bahildebrand Cool, thank you! I have been thinking about the behaviour when creating the task panics, i.e. `error_message: format!("Lambda panicked: {}", err),`. It seems a bit scary to me. If this message is sent to some end-user it's potentially a security issue. I haven't looked into it in detail, but if that's the case, I think it would make sense to not include the panic information.

[2021-03-29 19:01] twhit0611 opened #313 "Failing to create Context when running within al2.provided container"
When running the aws-lambda-rust-runtime (v0.3.x) in the official AWS Lambda container image (public.ecr.aws/lambda/provided:al2) , the runtime panics due to missing headers. We attempted to send the headers in the request but they do not seem to make it into TryFrom trait implementation for the context struct when running in a local Docker environment.

In order to make the runtime easier to cons

[2021-03-29 22:43] rimutaka commented on #310
I think the main benefit of `tokio::spawn` is to isolate the handler function and protect the runtime in case the handler panics.

The error messages logged by the runtime are sent to stdout and end up in CloudWatch. The would need to be sent back to AWS API endpoint as a response for the caller of the lambda to see them.

[2021-04-02 06:08] rimutaka commented on #310
In response to @davidbarsky 's [comment](https://github.com/awslabs/aws-lambda-rust-runtime/pull/309#pullrequestreview-624396893) (big change, small gains) in PR #309 I started looking into the possible performance gains of zero-copy.

David Tolnay, the creator of Serde kindly shared some code we could use for benchmarking. See his [full reply on Reddit](https://www.reddit.com/r/rust/comments/miae

[2021-04-09 00:09] bahildebrand opened #315 "0.3.1 Release"
#308 brought in some backwards compatible changes, and a few bug fixes that would be good to get released. Link any changes here that would be good to get into this release.

[2021-04-09 00:18] bahildebrand commented on #313
This is a problem caused upstream, and doesn't make sense to fix in the runtime. See the discussion in #314 for more info.

[2021-04-09 00:18] #313 closed

[2021-04-09 11:19] chroche opened #316 "Problem with Error type not Sized"
Hi,

I'm getting he following compilation error trying to use `lambda_runtime` v0.3 with the following setup:
[code]
This gives me:
[code]

I can't seem to move around it, can somebody help?

The code compiles fine with a standard `main` function:
[code]

Thanks,
Chris

[2021-04-09 15:28] chroche commented on #316
Hi,

thanks for the prompt answer. The compiler seems unhappy with the fix though:
[code]
The errors in the `event_loop` come mostly from Rusoto v.0.46 if that helps.

[2021-04-09 17:11] davidbarsky commented on #316
@chroche: I'm pretty sure that the error mentioning `Sized` is a red herring, or at the very least, extremely misleading. The two trait objects (`Box<dyn Error + Send + Sync + 'static>`, aliased to `lambda_runtime::Error` and `Box<dyn Error>`) are _both_ sized thanks to the `Box`. However, the additional trait bounds on `lambda_runtime::Error` mean that `dyn Error` is a different trait object with

[2021-04-09 17:13] TransientError commented on #316
Sorry, I was on mobile, so I didn't get a chance to test it yet. I can get to it later today probably. In the meantime, I'd try using the lambda_runtime Error directly instead of the `Box<dyn Error>` and seeing if that works.

[2021-04-09 23:02] chroche commented on #316
Hi,

yes in fact the crux of the problem seems to be related to the `Send` trait really, as I'm now getting this after updating the `Error` type:
[code]
gives
[code]
That sounds even more scary :-/

[2021-04-10 02:35] bahildebrand commented on #316
You need to declare `Rc<Vec<AsgStatus>>` as `Arc<Vec<AsgStatus>>` instead. If you look at the doc pages for [Rc](https://doc.rust-lang.org/std/rc/struct.Rc.html) and [Arc](https://doc.rust-lang.org/std/sync/struct.Arc.html) you'll see that Arc implements Send while Rc does not. This is required as the Tokio runtime can move tasks to new threads across await points.

[2021-04-10 03:58] chroche commented on #316
Ok but I thought I had managed to avoid having to do that up to now using a single-threaded Tokio runtime. Is it not possible to keep things this way when using `lambda_runtime`?

[2021-04-10 14:56] davidbarsky commented on #316
Not at the moment. Internally, we use a `tokio::task::spawn` to catch panics and report them to the Lambda API. The bounds of `spawn` don't differ between the local thread and work-stealing variants of Tokio's runtimes.

I think this issue is surmountable, but the final decision should be with the maintainers of this project who'd have a better idea as to what the Lambda team is planning.

[2021-04-10 18:46] chroche commented on #316
Hi guys,

with the suggested fixes the code now compiles and runs fine both in local Docker and AWS Lambda.

Thanks everybody for the valuable help!
Chris

[2021-04-10 18:46] #316 closed

[2021-04-12 18:55] DartMen opened #317 "non-async version?"
Would it be possible to have a lightweight 'blocking' version without Tokio/Hyper dependencies?

Consider the following repo names:
aws-lambda-rust-runtime
aws-lambda-rust-runtime-async

Here is some recent discussion about the need for async by John-Nagle:

https://github.com/rust-lang/wg-async-foundations/issues/58

[2021-04-12 20:07] softprops commented on #317
A few items of note.

Async workloads. I think, and I haven't tried this it should be sufficiently easy to wrap sync workloads in `async |move| { }` or something of the like. You are correct in that not all workloads have async implementations and to some degree lambda, the hosting platform, _is_ a provides your application with concurrency levers, but a large number of networked services interact

[2021-04-13 22:08] RaviH opened #318 "Error: /usr/local/bin/build.sh: line 35: //.cargo/env: No such file or directory"
Hello,

I downloaded your repo and ran from `tests/test-func` directory and got the error above:

[code]

There's a workaround for it:

https://www.gitmemory.com/issue/softprops/lambda-rust/84/784833248:

I also just hit this issue but was able to resolve it by building the container from master.

Please correct me where I am wrong. But it's a bug if we have to build the project ourselves, right?

[2021-04-14 01:02] bahildebrand commented on #317
Can I ask if there is an underlying issue you're running into that sparked this request? You mention lightweight, are you finding your binary sizes too large? The reason I ask is that while it would be possible to support this request, it would be a significant amount of work, and we would need a pretty good use case to justify it.

As @softprops mentioned the current implementation is tied pretty

[2021-04-14 01:09] bahildebrand commented on #318
This looks like an issue with an upstream repo. Did you mean to post this in https://github.com/softprops/lambda-rust/? Additionally that test-func crate appears to be using an older version of this project. That could be causing issues.

[2021-04-14 01:17] bahildebrand commented on #283
There hasn't been any activity in this issue for some time, so I'm going to close it. I don't believe we have any data showing the performance improvements, and supporting this would be a decent chunk of work. If you want to look into this further and provide data that would help us balance the amount of work with performance improvements please feel free to reopen the issue.

[2021-04-14 01:17] #283 closed

[2021-04-14 08:27] rasviitanen commented on #310
@bahildebrand Sorry I forgot about this too. I'll see if I can find some thime to test it, I think we have quite a few different payloads. I can test some.

re:

This is what I have been suggesting from the start. A possible solution is to use `std::panic::catch_unwind` to isolate the panic.
We need to make sure that the response message is what we want it to be however, as the information from `c

[2021-04-14 16:32] RaviH commented on #318
@bahildebrand I really don't know where the issue lies. Let me elaborate: I was able to reproduce the error with `tests/test-func` as well as on my company's project. To get around it I am downloading this project and running `make build` on it as the answer suggested which seems to fix the issue. So if you release a new version after running `make build` on this project, shouldn't that fix the pr

[2021-04-15 11:00] DartMen commented on #317
Ive been using async/futures extensively over the last years in many different languages and it's without a doubt a fantastic mechanism.

But I would rather have a choice to use it or not, like for example, just fetching the weather forecast synchronously once a day.

To run the following example, it needs to pull in many packages which increases not only build times, but also attack surface.
[cod

[2021-04-16 07:19] rasviitanen commented on #310
@bahildebrand It looks like the issue for the serde stuff was closed, I guess I can skip the benchmarks?

[2021-04-18 17:02] coltonweaver commented on #24
@Sh4rK let us know if you still feel strongly about this issue. In the meantime I'm going to close this, but feel free to reopen it.

[2021-04-18 17:02] #24 closed

[2021-04-18 17:37] bahildebrand commented on #318
The only thing that could maybe cause that is that `test-func` is on an older version of this crate. It is on 0.2, whereas the latest released version is 0.3. Other than that I would suggest opening this issue in the other repo, as it is not supported by us. If you're able to pinpoint that it is an issue in this repo, and not lambda-rust then feel free to re-open this issue. Otherwise I'm closing

[2021-04-18 17:37] #318 closed

[2021-04-18 17:49] bahildebrand commented on #317
Unfortunately the bare minimum to execute a simple print statement will always be rather large for this library. Even if we were to take out our tokio/hyper dependency we would need to bring in another http client to service the [runtime api](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-api.html). I haven't done any direct comparisons of other http libraries, but I would imagine they woul

[2021-04-18 17:51] bahildebrand commented on #310
Yeah, I think you're fine. Feel free to open a PR with these changes so we can look at it more in depth.

[2021-04-18 20:16] migeruj commented on #279
Now I have taken up my project again. I changed the 'dockerless' parameter to true. Everything works without problems and I can now run rust on lambda with the serverless framework. Thanks!

[2021-04-18 20:16] #279 closed

[2021-04-19 16:29] RaviH commented on #318
I am sorry, I meant to open it with the downstream repo and I thought I did :) Here's the issue already open in softprops/lambda-rust: https://github.com/softprops/lambda-rust/issues/84

Thank you for your patience.

[2021-04-20 10:22] rasviitanen commented on #310
@bahildebrand sure! Here is the PR: #319

[2021-04-22 15:46] coltonweaver commented on #317
Yeah after looking into this a good bit, it would require a decent amount of effort to get going. I'm definitely open to the idea of this, but I can't see this being a priority for some time.

[2021-04-27 16:02] RedHatter opened #320 "Receiving binary/base64 request"
I would like to write a lambda that processes a binary request. After adding my mime type to binaryMediaTypes the API Gateway sends a base64 encoded body but lambda_runtime is unable to parse it.
[code]
Is there any way I can get lambda_runtime to pass me the raw body without attempting to parse it as JSON?

[2021-05-01 06:12] tysg commented on #320
Try the lambda_http crate which gives you more fine-grained control over the request body.

[2021-05-02 21:08] leo-suspensify commented on #110
The library has changed a little since this question was first asked, but it does work with BoxFuture as follows:

[code]

If this is the recommended solution then I can add it to the README

[2021-05-02 21:32] leo-suspensify opened #321 "Unit testing Headers and Cognito Authorizer"
Hi,

What is the recommended flow write unit tests involving headers and cognito authorization?  The objective is to write unit tests which mimic frontend requests passing through the http api gateway.  For example, suppose we have the function

[code]

We can set a few things beside the body, such as query parameters with `request.with_query_string_parameters` but I don't see how to set headers o

[2021-05-15 20:01] mnishizawa opened #328 "Error building the hello-world project"
I am following the instructions on the readme at https://github.com/awslabs/aws-lambda-rust-runtime

When I get  to the build step, it fails because log and simple_logger are specified as dev dependencies.  Moving them to the regular dependencies in the Cargo.toml file and rebuilding succeeds. Not sure if this is an error with the code or an error with the documentation, but it does not work as do

[2021-05-22 15:45] nakedible-p opened #329 "Add either an example or actual dispatch based on handler name"
It is customary to be able to use the same Lambda function for many different purposes by giving a separate "handler name". For Node.js and Python, this directly affects the name of the function that is invoked as the entry point to process the event.

You seem to totally ignore this handler name, as evidenced by your example to creating a function:
[code]

The execution environments are not share

[2021-05-22 16:33] bahildebrand opened #331 "Support async_std"
#323 exposed a need to support multiple runtimes. This will most likely need be exposed by a new feature flag that would choose between tokio and async_std.

Additionally, there have been calls to support a non-async version(#317). We may be able to kill two birds with one stone here, but the primary focus will be adding support to async_std.

[2021-05-22 22:30] rimutaka commented on #329
What would be the use case for this? It kind of goes against the grain of what Rust is about. Not saying it's a bad idea, just don't see a practical application where this approach would be beneficial.

[2021-05-23 10:40] rimutaka commented on #310
1. I can report that #330 works great and I'm saving ~500ms on every invocation pre-fetching and caching some values locally. Yaaaaay! Thanks everyone involved! :)

2. I wonder if there is an elegant way of making these shared resources mutable.
I'm happy to put some time into a PR to enable that.

[2021-05-23 11:11] milenkovicm commented on #310
Thanks for the info @rimutaka

Question about second point, what to you have in mind when you say "more elegant way"? Use of mutex is not that terrible 😀

If performance is consideration, IMHO mutex will do just fine. As function is single threaded, there should be no mutex contention thus lock/unlock should be cheap as no syscall will be made.

[2021-05-25 19:19] Fishrock123 commented on #331
For reference, here is the Tide Listener for lambda that I implemented: https://github.com/Fishrock123/tide-lambda-listener

Ideally this would run on top of something `lambda_http`, since you can feed `http_types::Request`s directly into [Tide](https://github.com/http-rs/tide).

This uses [Surf](https://github.com/http-rs/surf) as the http client, using the `"h1-client-rustls"` feature to have th

[2021-05-25 19:23] Fishrock123 commented on #331
It would probably also be handy (once the time comes) on this end of things to separate source code folders here between hyperium/tokio and http-rs/async-std.

[2021-06-19 03:36] kenshih commented on #38
👋 Hello! Just noting a proposed fix: https://github.com/awslabs/aws-lambda-rust-runtime/pull/332

[2021-06-23 17:44] fmonniot commented on #310
Hello there, first thanks for allowing sharing resources between lambda's invocation. That's awesome !

Is there any plan to remove that restriction in the `lambda-http` crate too ? The handler in that crate still has a `'static` bound on its future implementation (I have been able to remove it locally by patching the crate and adding an explicit lifetime on the handler, but it would be nice to ha

[2021-06-30 05:14] coltonweaver commented on #310
@fmonniot I think that's a reasonable request. I gave that a quick pass tonight here:

https://github.com/awslabs/aws-lambda-rust-runtime/pull/333

[2021-07-08 03:00] coltonweaver commented on #310
PR merged, hope that helps :)

[2021-07-08 03:57] #310 closed

[2021-07-16 05:52] altaurog commented on #310
We are just starting out with rust and had some confusion on this issue using `lambda_runtime`, which we [got cleared up in the help forum](https://users.rust-lang.org/t/newbie-cannot-infer-an-appropriate-lifetime-for-autoref-due-to-conflicting-requirements/62370/).  Curious if/how this PR will affect us?

[2021-07-20 14:29] nirLumigo commented on #328
I got the same error:
[code]

[2021-07-29 02:19] brainstorm commented on #38
#332 got merged and it works now, yay! This issue can be closed, IMHO.

[2021-08-01 07:26] bnusunny opened #334 "Missing _X_AMZN_TRACE_ID environment variable"
Rust runtime does not assign x-ray trace id header value to environment variable '_X_AMZN_TRACE_ID'. Without this environment variable, x-ray won't be able to trace the request end to end. Please consider to assign this environment variable with correct value.

https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime

[2021-08-05 13:15] Gaelik-git opened #335 "Example of simple Handler impl"
Hello !

I am getting started with rust and would like to use some for lambda processing.
I did not find a simple example of the `impl Handler`. Could you help by providing one ?
Particularly on the associated type Fut ? I may need to go back to the rust book for better understanding.

[code]

Thank you !

[2021-08-05 14:36] coltonweaver commented on #335
Hello @Gaelik-git! What is your goal here? The typical use of this crate shouldn't really require you to rewrite that portion of the lambda-http crate.

Defining a handler and utilizing this runtime for it should look more like this example: https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-http/examples/hello-http.rs

[2021-08-05 15:44] Gaelik-git commented on #335
The goal is to have the `MyHandler` struct to keep the state of my lambda but I guess it's just easier to use a function like in the example you provided.

[2021-08-05 15:50] coltonweaver commented on #335
If you're looking to share state between successive invocations of your function on the same sandbox, perhaps you should consider the shared resource example?

https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-http/examples/shared-resources-example.rs

[2021-08-05 18:18] coltonweaver commented on #38
Agreed, closing this as the issue is resolved. Thanks for the contribution @kenshih

[2021-08-05 18:18] #38 closed

[2021-08-06 02:33] seanpianka commented on #335
@Gaelik-git
You can `impl Handler` for a custom struct to store your shared state:

[code]

[2021-08-06 10:55] bburnichon opened #338 "Last version lambda_http 0.3.1 is not SemVer compatible."
Hello,

I use renovate bot to keep my dependencies up-to-date.
When going from release `0.3.0` to `0.3.1` of crate `lambda_http`, I need to update code in order to make it compile.
Sadly, I can not share actual code with you.

Here is the compiler line complaining about added lifetime parameter:
[code]

To remain semver, version `0.3.1` should be yanked and renamed `0.4.0`

Apart from this, fixing

[2021-08-06 11:17] Gaelik-git commented on #335
In version I am using there is no `type Response` in the trait `Handler` but this issue was more about the `type Fut`.

Thank you for the answer !

[2021-08-06 11:17] #335 closed

[2021-08-06 18:15] coltonweaver commented on #338
Ah, yep. That appears to be the case. Apologies, I had neglected to consider this use case when publishing. Working on yanking and moving to 0.4.0 now. Thanks for bringing this to our attention.

[2021-08-06 23:26] coltonweaver commented on #338
Both of the runtime and http crates at 0.3.1 were yanked, and I republished them as 0.4.0. Again, thanks for the heads up. Going to close this, but feel free to reopen it.

[2021-08-06 23:26] #338 closed

[2021-08-10 06:57] robertwaksmunski opened #340 "Custom event objects serde parsing error propagation"
I pass events as custom structs:

`lambda_runtime::run(handler_fn(move |request: LambdaRequest, context: Context| async move { ... }))`

 On unexpected payload lambda returns:

`{"errorMessage":"RequestId: 5bd3c925-2863-4f0d-a5fa-4478bca6db6f Error: Runtime exited with error: exit status 1","errorType":"Runtime.ExitError"}`

Is there a way to return serde parsing error instead of crashing the proc

[2021-08-19 04:08] brainstorm commented on #17
I'd actually close this issue and direct folks to `provided.al2`, all the MUSL tooling is not required anymore... unless there's an edge usecase I'm not aware of nowadays?

[2021-08-30 08:27] bburnichon commented on #338
Thank you for your prompt support. I was on vacation and did not saw the new version was published so quickly! Great job for the async code, my code is faster than ever.

[2021-09-05 18:01] duaneking commented on #317
I'm running into this same issue.

The core issue is pretty simple to describe; every millisecond we waste with code that isn't needed costs us more with Lambda  A thread is an expensive operation, and since we are do not need that tread, its seen as expensive and wasteful from an engineering excellence perspective.  Every millisecond counts. For many charities that need the sort of systems that n

[2021-09-05 18:44] duaneking commented on #107
There is no legitimate reason for this path not to be included and correct.

[2021-09-05 19:02] duaneking commented on #107
@softprops May I ask the status of this? I normally don't like pinging people directly but you stated above you were working on this.. and this is core to the typical usage of rust and lambda so it not working is a huge deal as this library is effectively non-functional right now if you need the correct path, and most people do.

[2021-09-07 17:15] fmonniot opened #342 "Does lambda_http::Handler::Future requires Send ?"
Hello there,

The current implementation of `lambda_http`'s [`Handler::Fut`](https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-http/src/lib.rs#L97) requires a `Send` bound, but the underlying `lambda_runtime`'s [`Handler::Fut`](https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-runtime/src/lib.rs#L76) does not. Is there a reason why this bound is present? Fut

[2021-09-08 03:52] c3drive commented on #272
[code]
->
[code]
[https://crates.io/crates/lambda_runtime](https://crates.io/crates/lambda_runtime)

[2021-09-08 16:12] coltonweaver commented on #342
Hi @fmonniot, thanks for pointing this out! This is indeed unintentional. I missed this change whenever I made the changes to remove the `'static` bounds from `lambda_http` to match the runtime. If you want to go ahead and publish your linked commit as a PR, I would happily review it.

[2021-09-08 16:38] fmonniot commented on #342
No worry and thanks for the prompt response. I opened #344 with the change.

[2021-09-08 20:37] coltonweaver commented on #342
Just approved and merged your code in. Thanks for making this change! Feel free to reopen this issue if needed.

[2021-09-08 20:37] #342 closed

[2021-09-09 15:55] davidbarsky commented on #317
While I don't maintain this library anymore (as I no longer work at Amazon and will be starting a new job soon), I figured that I should explain my thinking about making the runtime async-first. I'll first try to respond to @duaneking's points.

I think that there's might be misunderstanding here: it is _entirely_ possible (and encouraged, if you know what performance profile you need) to run your

[2021-09-09 19:33] coltonweaver commented on #315
Going to close this issue out!

[2021-09-09 19:33] #315 closed

[2021-09-09 23:55] Franck-Q opened #345 "difficulties using aws-sdk-rust with aws-lambda-rust-runtime"
Hello, I'm trying to compile a rust lambda function using the aws-sdk-rust but having issues with it. Here's some info:

rust code:

[code]

Cargo.toml:
[code]

compilation (all worked before changing the lambda function to add the SDK):
1) cross-compilation
cargo build  --release --target x86_64-unknown-linux-musl
2) docker linux
rustup target add x86_64-unknown-linux-musl && cargo build --releas

[2021-09-12 17:40] zamazan4ik opened #346 "Fix link to the prepared Docker images with Rust for Lambda"
Hi!

I want to propose a slight change to the README file. You reference the https://github.com/softprops/lambda-rust repo as a repo with `lambda-rust` Docker images. Unfortunately, this repo is in an unmaintained-like state (see https://github.com/softprops/lambda-rust/issues/99).

We (me and other people) created a new org, where we've continued preparing related Docker images for newer Rust ver

[2021-09-12 22:25] duaneking commented on #317
I don't really appreciate being mentioned directly as I was trying to focus on the code and not make it about personal attacks against customers like myself who experience consistent issues and get no support despite paying for it.  And the way you wrote that, it does not makes me think you are trying to respond fully constructively.

But ok, I'm feeling forced to engage.  Lets hope you gain some

[2021-09-13 00:00] seanpianka commented on #345
Hi @Franck-Q

From the stacktrace:
[code]
It failed to execute `$ musl-gcc ...` because `No such file or directory (os error 2)'`. Please check that `musl-gcc` is installed on your host.

[2021-09-13 02:11] Franck-Q commented on #345
Thank you @seanpianka  (and sorry, the answer was in the question, I just needed someone to point it out :) ). I got further, but now I'm getting the following error message: (or should I open a different issue)
[code]
[dependencies]
aws-config = { git = "https://github.com/awslabs/aws-sdk-rust", tag = "v0.0.17-alpha", package = "aws-config" }
aws-sdk-dynamodb = { git = "https://github.com/awslabs

[2021-09-13 02:43] seanpianka commented on #345
Happy to help! Try to update your dependencies with `$ cargo update` and see if that fixes the issue? If not, `$ cargo clean` and re-compile.

If the issue persists, I would suggest opening a new issue with a more specific title.

[2021-09-13 12:16] #345 closed

[2021-09-18 06:52] s3pt3mb3r opened #347 "Error linker `cc` not found occurrs when build the example"
Hello, let me ask you about the error i encountered. (I'm using Windows10.)
So I was trying to follow the tutorial instruction in README, and when I tried to run this command:
[code]
it shows me this error:
[code]
Sorry, it's in Japanese but it says "the file specified was not found."

After that I looked up that error and installed gcc through MinGw.( image below)
![image](https://user-images.git

[2021-09-18 13:47] s3pt3mb3r commented on #347
I didn't fully solve the error, but I found the way to circumvent it.
Simply by compile it on WSL2 Ubuntu. If you know the actual way to cross compile it on windows, let me know.

[2021-09-20 03:06] #272 closed

[2021-09-23 05:13] #347 closed

[2021-09-23 08:55] mlafeldt opened #348 "Logging error chains to CloudWatch"
I noticed that the Rust runtime currently logs handler errors using `{}` as the format:

https://github.com/awslabs/aws-lambda-rust-runtime/blob/3871cb4c8fa0319eb157c15eb9e443b1b7526dd8/lambda-runtime/src/lib.rs#L178

However, the widely used [anyhow crate](https://github.com/dtolnay/anyhow) will only include the error chain with `{:?}` or `{:#}`:

https://github.com/dtolnay/anyhow/blob/71caf88b78

[2021-09-23 13:50] mlafeldt commented on #348
Related to this, the error returned to the caller also misses any context:

https://github.com/awslabs/aws-lambda-rust-runtime/blob/3871cb4c8fa0319eb157c15eb9e443b1b7526dd8/lambda-runtime/src/lib.rs#L183

[2021-09-24 19:22] ytitov commented on #346
Thank you for the updated repo.  It finally worked for me. @ZaMaZaN4iK

[2021-10-01 02:42] dekanayake opened #351 "Lets encrypt certificate expired issue"
hi, I'm using rust lambda for one of my production systems. I have a client service that calls HTTPS REST API. It was working without any issues, but today suddenly it started to fail with the following error.

error sending request for url (https://xx.xx.com/api/f43b0181-6ee9-4539-b3e9-f7f37a95f962/delivery/v1/search?q=(number1:650): error trying to connect: error:14090086:SSL routines:ssl3_get_s

[2021-10-19 08:31] Aleksandr-Filichkin opened #354 "Cannot use RUST for ARM Graviton2 Lambda"
Hi Everyone,

I'm trying to deploy RUST lambda for ARM lambda. I was able to compile the code for target 'aarch64-unknown-linux-gnu', but during invocation, I see such an error:
`/var/task/bootstrap: line 3:     9 Segmentation fault      (core dumped) ./app
END RequestId: 048e5e8c-538a-4447-b917-b46414c3d377
REPORT RequestId: 048e5e8c-538a-4447-b917-b46414c3d377	Duration: 212.24 ms	Billed Duration

[2021-10-19 12:04] brainstorm commented on #354
Hello @Aleksandr-Filichkin my example code runs fine on ARM64 sans MUSL and it does not segfault, take a peek, happy to guide you through if there's something unclear?:

https://github.com/umccr/s3-rust-noodles-bam

I just use a very thin mod of the `provided.al2` official image: https://github.com/umccr/s3-rust-noodles-bam/blob/master/Dockerfile-provided.al2

[2021-10-21 20:16] simonvandel commented on #354
@Aleksandr-Filichkin

The docker image you are using to build the rust code uses glibc 2.28 as seen here https://github.com/docker-library/repo-info/blob/a1ebff8be128ff3af7692c79f98ffb7ece0cec63/repos/rust/local/1.54.md#dpkg-source-package-glibc228-10

But Afaikt Amazon Linux 2 only has 2.26 https://aws.amazon.com/amazon-linux-2/release-notes/

You can try building the rust code in a docker image

[2021-10-24 19:40] philschmid opened #355 "HTTP Errors: How to return an Error properly"
Hello,

I am working on a simple example using `serde` to deserialize an incoming body, which perfectly works, but when the client sends a nonvalid request body the lambda functions run into an internal error and do not respond properly.

![image](https://user-images.githubusercontent.com/32632186/138610014-52239f8e-28c1-43eb-9d23-9e4b15d7f730.png)

If i send, e.g.
[code]
the function returns
[cod

[2021-10-24 21:59] #355 closed, assigned to nobody

[2021-10-28 00:57] seanpianka opened #357 "Upgrade tracing-subscriber to fix RUSTSEC advisory"
[tracing-subscriber 0.3.0](https://github.com/tokio-rs/tracing/releases/tag/tracing-subscriber-0.3.0) was released 3 days ago in order to fix  [RUSTSEC-2020-0159](https://rustsec.org/advisories/RUSTSEC-2020-0159.html). As `aws-lambda-rust-runtime` has a 0.2 dependency, it would be best if this dependency was updated to 0.3 to avoid usage of `chrono`  and support new `tracing-*` releases.

[2021-10-31 00:03] coltonweaver commented on #357
Closing this after merging the related PR.

[2021-10-31 00:03] #357 closed

[2021-10-31 18:08] duaneking commented on #254
None of the example code works.

[2021-10-31 18:19] duaneking commented on #328
As of right now, that does not even work.  None of the examples seem to build or compile in latest standard rust.  Is this crate unmaintained?  Nothing is working.

[2021-10-31 18:41] duaneking commented on #307
This is blocking basic functionality for many calls.  Is somebody already working on this? Is there a fix planned? This makes this library unusable.

[2021-11-03 01:49] coltonweaver commented on #17
Hey, I've added references to provided.al2 in the README now. Closing this issue.

[2021-11-03 01:49] #17 closed

[2021-11-03 09:17] khryte opened #361 "fork/exec /var/task/bootstrap: no such file or directory"
I get this error no matter what program I compile:

[code]

It doesn't matter if I compile with or without the Docker image, so I will show the docker image I've been using so far:

[code]

Here's the script I've been using to build:

[code]

The programs can be anything. The trivial example in this repository yields the same error. Interestingly enough, it *does* work if I use Rust 1.45.2, but th

[2021-11-03 14:47] coltonweaver commented on #361
Hey! Can you tell me a little bit about the setup you're using to compile?

If you're using x86_64-unknown-linux-musl, have you tried using `provided.al` instead of `al2`? I recall there being an issue with musl-produced binaries running on `al2` that I think you're seeing.

[2021-11-03 14:49] coltonweaver commented on #354
Hey! Have you given the latest README steps a shot? I was able to compile and run examples on ARM using Docker (on Apple silicon).

[2021-11-03 15:07] segfaultsourcery commented on #361
Hi! Thanks for the response. I've tried using `x86_64-unknown-linux-gnu` earlier, which results in error messages similar to this: `/lib64/libc.so.6: version `GLIBC_2.18' not found`.

Could you elaborate a little bit on how to use `provided.al`? I'm not sure what it is.

[2021-11-03 15:08] khryte commented on #361
Hi! Thanks for the response. I've tried using x86_64-unknown-linux-gnu earlier, which results in error messages similar to this: /lib64/libc.so.6: version GLIBC_2.18' not found`.

Could you elaborate a little bit on how to use provided.al? I'm not sure what it is.

[2021-11-03 15:57] coltonweaver commented on #361
Hmmm that's interesting. `/lib64/libc.so.6: version GLIBC_2.18 not found` would indicate that the image you're using to build doesn't have new enough binaries to produce the `-gnu` executable.

Are you able to use another image to test? Can you try using the official Rust docker image?

[2021-11-04 00:50] coltonweaver commented on #361
Apologies, just realized that's what rustbuilder is in this case! Let me take a deeper look at this. Have you considered updating GLIBC in the image?

[2021-11-04 07:40] khryte commented on #361
No worries at all! Updating GLIBC to the latest version does indeed work (when I compile with `x86_64-unknown-linux-gnu` rather than `-musl`), but I'm worried that an AL/AL2 upgrade might break production. Can I assume that the version will stay the same indefinitely?

[2021-11-04 09:13] khryte commented on #361
...okay, now, for some reason, the `-gnu` builds are failing again. The glibc version in the builder image is this:

[code]

Running the lambda results in this error again:

[code]

[code]

[2021-11-07 17:05] dustbort opened #362 "Allow for modifying the incoming lambda event prior to deserialization"
I am using [localstack](https://github.com/localstack/localstack) to test lambda functions written using this runtime. I have found in [some cases](https://github.com/LegNeato/aws-lambda-events/issues/47) that the structs defined in [aws-lambda-event](https://github.com/LegNeato/aws-lambda-events/issues/47) do not match the events generated in localstack in some minor ways. aws-lambda-events also

[2021-11-08 11:00] #361 closed

[2021-11-16 12:00] nmoutschen opened #365 "Data did not match any variant of untagged enum LambdaRequest with SAM local"
When running a Lambda function in Rust using the `lambda-http` crate with `sam local start-api` and an HttpApi event, the Lambda runtime is not able to deserialize the payload sent by SAM into a LambdaRequest.

I've created a minimum reproducible sample that just takes an event received by a Lambda function running locally in another language, and try to deserialize it into a `lambda_http::request

[2021-11-16 12:19] nmoutschen commented on #365
If I change `stageVariables` from `null` into `{}`, the example above works.

[2021-11-16 12:38] bnusunny commented on #365
This might be an issue with SAM local. API Gateway omits those null valued properties.

[2021-11-16 13:26] nmoutschen commented on #365
Agree that this is probably an issue on SAM local, but that might be a possibility we need to deal with. `lambda_http::request::LambdaRequest` already supports fields with null values for Alb and ApiGateway variants. I've made a PR that would fix it for sam local in the meantime.

[2021-11-17 16:50] ionionascu commented on #365
I got a similar error when using the Test Method functionality of the API Gateway in the AWS Console, not related to SAM. I can see that the request sent to the lambda has:

[code]

This happens for a deployment that used to work just fine until an unrelated lambda code change got deployed for testing.

[2021-11-18 18:04] nmoutschen commented on #365
@ionionascu Could you retry by using the git version of the `lambda_http` crate to know if the latest changes fix the issue in that situation?

You can do that by replacing the dependency like this in your `Cargo.toml`:

[code]

[2021-11-18 19:45] nmoutschen commented on #365
I'll close this issue since the PR is merged, but let me know if it doesn't work for you @ionionascu

[2021-11-18 19:45] #365 closed

[2021-11-19 11:02] ionionascu opened #367 "Data did not match any variant of untagged enum LambdaRequest when testing from API Gateway in the AWS Console"
I have a Rust lambda that is accessed through an API Gateway with proxy integration. When I test the API Gateway's method directly in the AWS Console without passing any headers (or no query parameters), I get an error from the Lambda: `Error: Error("data did not match any variant of untagged enum LambdaRequest", line: 0, column: 0)`

This seems to be caused by the fact that in the API Gateway JSO

[2021-11-19 11:06] ionionascu commented on #365
@nmoutschen , I have raised another issue, #367, as I think my problem has a different cause. I am testing with `lambda_http = { git = "https://github.com/awslabs/aws-lambda-rust-runtime" }` in `Cargo.toml`.

[2021-11-19 12:30] ionionascu opened #368 "failed to build request: http::Error(InvalidUri(InvalidFormat)) when testing from API Gateway in the AWS Console"
When testing from the API Gateway's test method without explicitely providing the `Host` http header, I get the error `failed to build request: http::Error(InvalidUri(InvalidFormat))`, which I didn't use to get (maybe the test request has been changed on AWS side).

This test reproduces the error on the current master branch:

[code]

In my case, the error being generated here https://github.com/a

[2021-11-19 19:25] nmoutschen commented on #368
Hey @ionionascu! Thanks for creating a new issue for this.

Looks like the issue comes from the request body generated by the Lambda console test event, as it's returning a `null` value instead of an empty string.

As far as I'm aware, API Gateway doesn't send null values for bodies, but double-checking internally first before supporting null values for this field.

[2021-11-19 21:55] ionionascu commented on #368
Hi @nmoutschen. The sample request I put in the test comes from data received by my lambda went I did a test from the API Gateway's Test Method feature in the AWS Console. I just changed the values of some sensitive attributes. If, in the Test Method page I add the header `Host` with a value that is a valid hostname, then I do not get the error.

Separate from this, to be fair, unless there is a p

[2021-11-19 22:23] nmoutschen commented on #368
Thanks for the explanations! I just realized that I misread your original message. 🤦 My apologies for this.

I'll look into it.

[2021-11-19 22:59] nmoutschen commented on #368
Hey @ionionascu !

I was able to pinpoint the issue to how the crate was trying to generate the Uri. If the host header was absent, it would try to create an Uri from a value looking like `https:///test` (with three slashes), which is not a valid URL. I've created a PR which would change that behavior to `/test` instead when the Host header is absent.

See https://github.com/awslabs/aws-lambda-rus

[2021-11-21 09:59] nmoutschen commented on #368
Hey @ionionascu !

The PR is merged now. Could you check if you're still facing that issue against the git repository directly?

[2021-11-21 18:39] nmoutschen commented on #367
Hey @ionionascu!

Thanks for creating this! I was able to reproduce that a null headers value result in an error. I've created a PR that should address that issue -> https://github.com/awslabs/aws-lambda-rust-runtime/pull/371

[2021-11-21 19:02] nmoutschen commented on #362
Hey @dustbort !

Thanks for opening this issue! I did a quick test and you could run your own logic to transform a JSON value into a valid event in the invocation loop itself:

[code]

Would that work for your use-case?

[2021-11-21 23:21] rimutaka opened #372 "Caching data between invocations"
It is possible to initialize a resource in `main` and pass it onto a closure inside `handler_fn` as a shared reference. Example: https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-runtime/examples/shared_resource.rs

The downside of this method is that the initialization must be done upfront and the resource cannot be updated.

I've been trying to implement a cache that can be u

[2021-11-22 01:59] softprops commented on #372
[hander_fn](https://github.com/awslabs/aws-lambda-rust-runtime/blob/154cf312a0b4d7ffec2fa035695151106a44f286/lambda-runtime/src/lib.rs#L84-L86) is a factory method for creating an instance of a type which [implements](https://github.com/awslabs/aws-lambda-rust-runtime/blob/154cf312a0b4d7ffec2fa035695151106a44f286/lambda-runtime/src/lib.rs#L96-L107) a generic [Handler trait](https://github.com/awsl

[2021-11-22 16:44] ionionascu commented on #368
Thank you @nmoutschen. I have tested with the current master branch and I can no longer reproduce this issue, so I will close it.

[2021-11-22 16:44] #368 closed

[2021-11-22 23:31] dustbort commented on #362
Yes, that works a treat. Thank so much!

[2021-11-22 23:31] #362 closed

[2021-11-23 21:16] nmoutschen opened #373 "How to wrap a Handler into another one"
Hey folks!

I'm doing a proof-of-concept of wrapping a `lambda_runtime::Handler` into another one. The idea is that I could then add and chain capabilities with a nice interface.

However, I'm facing an issue in how I call the actual function, since the `Handler` trait has a synchronous function `call()` that returns a Future. That means that I cannot await the function's call and then do somethin

[2021-11-24 10:49] nmoutschen commented on #354
Hey @Aleksandr-Filichkin !

I see that you've [made changes in your repository](https://github.com/Aleksandr-Filichkin/aws-lambda-runtimes-performance/commit/550b7496b151442cfbb4e380e5463829f8f501e2), so I will close this issue assuming that you made it work. Feel free to  reopen with a status update if it's not the case.

[2021-11-24 10:49] #354 closed

[2021-11-24 10:57] nmoutschen commented on #351
Hi @dekanayake !

The issue should've been resolved on the Lambda side by now, but just to look into this deeper: how did you pass the root CA to reqwest's client builder? You should be able to use [`add_root_certificate`](https://docs.rs/reqwest/0.11.6/reqwest/struct.ClientBuilder.html#method.add_root_certificate) on the builder to add the certificate. Have you also tried by [disabling the built-

[2021-11-26 13:59] Mdrbhatti commented on #373
@nmoutschen you might find the following example helpful.
https://github.com/Mdrbhatti/warp_lambda/blob/main/src/lib.rs#L121

[2021-11-26 16:42] nmoutschen commented on #373
Thanks a lot @Mdrbhatti ! It's working now! 😄

If anyone is interested, here's the code for reference: https://gist.github.com/nmoutschen/5a264d1d2d246d265517962ff91cba8c

[2021-11-26 16:42] #373 closed

[2021-11-26 20:47] nmoutschen opened #374 "Replace lambda_runtime::Handler with tower::Service?"
Hey folks!

After looking at [how to wrap `lambda_runtime::Handler`](https://github.com/awslabs/aws-lambda-rust-runtime/issues/373) compared to tower's [layers](https://docs.rs/tower/0.4.11/tower/trait.Layer.html) (thanks to @davidbarsky), and @Mdrbhatti's recent [PR on making self mutable for `Handler`](https://github.com/awslabs/aws-lambda-rust-runtime/pull/356), I'm wondering if we wouldn't ben

[2021-11-26 21:07] davidbarsky commented on #374
While I no longer work for Amazon, I'd like to voice my support for switching to `tower::Service` in this runtime. I think there are a few benefits:

1. Hyper and the AWS SDK for Rust _already_ use `tower:Service`; this isn't adding a new dependency.
2. This runtime would benefit from the existing Tower ecosystem.
3. [`tower::make::Shared`](https://docs.rs/tower/0.4.11/tower/make/struct.Shared.htm

[2021-11-27 05:57] brainstorm commented on #374
Yes please! Is it more lightweight than bringing in [opentelemetry](https://21-lessons.com/how-to-instrument-a-rust-application-with-opentelemetry/), btw?

[2021-11-27 14:22] nmoutschen commented on #374
@brainstorm this change is not directly related to tracing/observability, but it makes it easier to do so in the future.

If I were to compare the features available in [Lambda Powertools for Python](https://github.com/awslabs/aws-lambda-powertools-python), using `tower::Service` and the wider tower capabilities will make it easier to:

* Inject context for the `tracing` crate, which will help wit

[2021-11-27 19:22] nmoutschen commented on #374
I've made a [quick POC](https://github.com/awslabs/aws-lambda-rust-runtime/issues/374) to showcase what the developer experience would look like. For anyone not interacting with `HandlerFn`/`Handler` directly, this shouldn't change anything.

If you want to try for your own code, you can do so by making the following changes in your __Cargo.toml__ file:

[code]

Please note that this is just a POC

[2021-12-04 09:52] rimutaka commented on #374
I built both, the current and the proposed versions using `basic.rs` for 'main' and got identical executable size of 1,717,768 bytes, which is strange. Rechecked a few times. Build params: stable-x86_64-unknown-linux-gnu, rustc 1.56.1, `cargo build --release` followed by `strip`. I expected at least a few bytes difference. FYI.

[2021-12-04 12:36] nmoutschen commented on #374
@rimutaka that's interesting, but sounds plausible.

The `Handler` trait already looks very close to the `Service` trait. The only main differences are:

1. `Handler` takes a generic B parameter as output, while `Service` uses a placeholder type instead; and
2. The PR uses a `call` function that takes a `LambdaRequest` as input, while `Handler` takes a value and event.

I wouldn't be surprised if

[2021-12-10 21:12] nmoutschen opened #377 "Integration tests on Lambda"
Creating a ticket to track the creation of integration tests on Lambda.

Basically, the idea is to create simple functions/extensions with CloudFormation definitions so that we can easily spin them up and run them to make sure everything is working fine before merging PRs.

I'll tackle this as I had to implement them to have comprehensive tests for https://github.com/awslabs/aws-lambda-rust-runtim

[2021-12-11 10:31] #261 closed

[2021-12-11 12:09] nmoutschen opened #380 "Using stable for cargo fmt in GitHub actions"
Hey folks! 👋

I've noticed this uses the nightly version of Rust to do `fmt` and `clippy` checks (see https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/.github/workflows/build.yml#L60-L81).

Since those versions might include new checks that are not yet in stable, and most people are using stable, should we change to using stable there too?

[2021-12-15 13:01] Jacco commented on #110
Am trying to do it a bit differently, and am struggling with lifetime management:

[code]

And then the following:

[code]

But I get `life mismatch` and `one type is more general than the other` errors on the line where `run` is called.

Anybody know how to resolve this?

[2021-12-16 19:45] coltonweaver commented on #380
I think we should 100% use stable. Good call out.

[2021-12-16 20:27] nmoutschen commented on #380
Actually, looking at the bigger picture, we should probably define an MSRV at some point too.

I'll do some tests to see what we could realistically support.  In the crate's current stage, we could lower MSRV to 1.46.0 with three small changes:

* Downgrade edition for `lambda-extension` and `lambda-runtime-api-client` to 2018; and
* Import `std::convert::TryInto` for `lambda-runtime-api-client`.

[2021-12-17 14:44] nmoutschen commented on #110
Hey @Jacco !

Could you paste the entire error message?

Also, is there any specific reason why you are creating a separate handler function rather than just using the `call` function in your `MyHandlerFn` struct?

By the way, I've just added [this example](https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-integration-tests/src/bin/runtime-trait.rs#L20-L43) using a struct that

[2021-12-18 09:32] #377 closed

[2021-12-21 12:51] ionionascu commented on #367
Hi @nmoutschen. Sorry for the delay in testing the changes. I have checked the current master (which includes #371) and I still see an error reported in the AWS API Gateway's test console. The problem is caused by `"multiValueHeaders": null`. This test fails because of it:

[code]

[2021-12-24 02:15] coltonweaver commented on #351
@dekanayake I'm going to close this issue because I believe this should have been resolved on the Lambda side now as @nmoutschen mentioned. Please feel free to reopen if you're still having issues!

[2021-12-24 02:15] #351 closed

[2021-12-24 18:52] bahildebrand commented on #380
@nmoutschen can we close this? I see a related PR is merged, but not sure if there is any work remaining.

[2021-12-28 14:51] #380 closed

[2021-12-28 14:51] nmoutschen commented on #380
Yes we can! :)

[2021-12-31 14:39] mbergkvist commented on #367
@ionionascu I've created PR #387, which just do the same thing as @nmoutschen did in #371 but for multi-value headers too. I've run your test locally and it now passes.

[2022-01-02 18:14] ryanblock opened #390 "Allow any path parts in `AWS_LAMBDA_RUNTIME_API` to remain intact"
Hey folks, this project is great! I have been at work working on implementing full Lambda custom runtime API support in OpenJS Architect, and wanted to raise some behavior that appears to be specific to the Rust Lambda runtime library.

A goal of Architect's local execution model is to be as fast (or faster) than real Lambda; as such, we do not rely on Docker. To accomplish this, we run handler fu

[2022-01-03 01:31] bahildebrand commented on #390
Thanks for the detailed description, Ryan! Also your project looks really cool! Hoping to read more about it when I get some free time.

As per your issue, this seems reasonable to me. As far as I can tell the reason we're not using the path is that we kind of just ignore it currently. If you look [here](https://github.com/awslabs/aws-lambda-rust-runtime/blob/6da8fe9d08e5f24b1790efeb45100b0cd1b6ca

[2022-01-03 03:42] ryanblock commented on #390
Thanks! Yeah, I noticed that code you linked while poking around. I'm not sure about query params – I could make use of those as an alternative to the path parts, but ultimately sanitizing query params is probably a good thing as not doing so could potentially lead to some extremely weird behavior. I hope that otherwise passing through the path parts should be safe, though, and be low/no impact, a

[2022-01-05 04:24] anuraags opened #391 "Getting invalid entrypoint when deploying via terraform"
Hi all,

Looking for a bit of help as I can't seem to work out how to debug further with my current issue (which may or may not be architecture related but I can't tell).

I'm building my rust executable for a lambda runtime and keep getting the `InvalidEntrypoint` error when invoking it. I'm currently deploying the function using terraform.

The code itself is basically just the code from `exampl

[2022-01-05 05:52] Crescent617 commented on #367
I have the same problem in 0.4.1... Will this bug be fixed in next release?

[2022-01-05 06:55] mbergkvist commented on #367
#387 is merged to main branch so I think we can assume it will be included in the next release.

[2022-01-05 10:47] ionionascu commented on #367
Thank you @mbergkvist, @nmoutschen . I have tested with the latest code on master and everything looks good. I will close this issue.

[2022-01-05 10:47] #367 closed

[2022-01-06 04:02] coltonweaver commented on #391
Can you provide a bit of information about the host machine that you're building on?

[2022-01-07 00:16] calavera commented on #328
This should be fixed now. The examples have been updated to not use simple_logger, and the instructions in the readme are more clear: https://github.com/awslabs/aws-lambda-rust-runtime#aws-cli

[2022-01-07 00:16] #328 closed

[2022-01-07 00:24] tannerntannern opened #392 "Lambda Logs API?"
I've successfully used this project's [lambda-extension](https://github.com/awslabs/aws-lambda-rust-runtime/tree/master/lambda-extension) library to respond to Invoke and Shutdown events (as the examples demonstrate), but I'm struggling to figure out the best path to use the [Lambda Logs API](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-logs-api.html#runtimes-logs-api-msg-function).

My u

[2022-01-07 03:05] calavera commented on #392
oh no! 🤦 that's unfortunate because when I started working on the extensions api, I exposed the ID, but we removed it because we didn't remember that the logs API uses it. See [this commit](https://github.com/awslabs/aws-lambda-rust-runtime/pull/376/commits/af95f363070646c914d7a1c38620c2e591062ca4).

I think it'd be worth considering a way to add it back, even if it's not backwards compatible.

PS

[2022-01-07 03:19] tannerntannern commented on #392
Thanks for the quick response.  Regarding exposing the ID, I'm wondering if it would be sufficient to simply make the [`extension_id` field](https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/lambda-extension/src/lib.rs#L133) public?  I like the idea of the library managing the extension registration for me so I can just read the ID afterwards.  I'm not well versed in Rust design patte

[2022-01-07 08:31] #390 closed

[2022-01-07 08:32] nmoutschen commented on #390
Hey @ryanblock!

@calavera made a change that should address this issue. Could you confirm if this is fixing it for you when using the master branch of this repository?

[2022-01-07 08:42] nmoutschen commented on #392
In term of backward compatibility, I think we can still add it back since we didn't publish a new crate version yet. As long as something is on the master branch but not yet publishes on crates.io, we should be flexible. Basically, I see the master branch as an unstable version. 😄

I think as a short term, we could expose the extension ID (maybe it could be useful for other things in the future -

[2022-01-07 08:51] nmoutschen commented on #290
I see the documentation has been updated since then, so I'll close this ticket. If you feel that something is missing here, feel free to reopen it or open a new one!

[2022-01-07 08:51] #290 closed

[2022-01-07 23:04] ryanblock commented on #390
@nmoutschen this is great. (@calavera nice to see you around, been a while!)

Very excited to give this a test next week; unfortunately I had to drop everything this week to focus on shipping support for Lambda ESM. (Not complaining, they did a very nice job.) Thanks for the rapid followup!

[2022-01-08 01:28] calavera commented on #390
looking forward to playing with the Rust support in Architect @ryanblock 😄

[2022-01-08 18:55] calavera commented on #392
This might need some more work: https://github.com/awslabs/aws-lambda-rust-runtime/pull/394#issuecomment-1007890545

[2022-01-10 20:41] nmoutschen opened #396 "[RFC] Lambda Logs API Integration"
The purpose of this issue is to define and agree on an library implementation for the [Lambda Logs API](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-logs-api.html).

Before going into proposed user experiences, there are a few characteristics of the Logs API that are important to consider:

1. __Only extensions can subscribe to logs__. You need to first register the extension, then subscr

[2022-01-10 20:42] nmoutschen commented on #392
I started an RFC issue to track what the experience would look like: https://github.com/awslabs/aws-lambda-rust-runtime/issues/396

I'd appreciate feedback/ideas on it. 🙂

[2022-01-10 22:01] calavera commented on #396
is there a way to have a builder pattern and still provide the HTTP server? I'm thinking about something like this, but I have not tested if this could be possible:

[code]

[2022-01-10 22:24] tannerntannern commented on #396
@calavera This is very similar to what I had in mind.  I'd be in favor of this.

Personally, I don't see a need to support bringing your own HTTP/TCP server, at least initially.  It seems like boilerplate the majority of users won't want to bother with, similar to the extension registration which is hidden from the user entirely.  Also the docs recommend using HTTP instead of TCP, so I think we wo

[2022-01-10 22:44] oddg opened #398 "Implementation of `http_body::Body` for `lambda_http::Body`"
Hello,

I am wondering if implementing the [`http_body::Body` trait](https://docs.rs/http-body/latest/http_body/trait.Body.html) is on the road map for the [`lambda_http::Body` enum](https://docs.rs/lambda_http/latest/lambda_http/enum.Body.html).

This would improve interoperability with other libraries.

[2022-01-11 02:35] calavera commented on #329
I agree with this.

You can also do that dispatch yourself by setting any environment variable that you want, you don't need to rely on the handler's name.

Example:

[code]

In fact, the handler's name is mostly an internal implementation detail. The Go runtime doesn't rely on that name, and I have a gut feeling that lambda containers don't care about it either.

I'm going to close this issue bec

[2022-01-11 02:35] #329 closed

[2022-01-11 12:45] nmoutschen commented on #396
@calavera I like the idea of using a builder pattern. I'd just make a small change so we can support a trait pattern (for future implementation of `tower::Service`):

[code]

This way we could also do this in the long term:

[code]

[2022-01-11 16:30] calavera commented on #396
that makes sense to me 👍

[2022-01-12 01:53] calavera commented on #398
I don't think anyone thought about it before, but it sounds like a neat idea. Feel free to submit a pull request.

[2022-01-13 03:07] #109 closed

[2022-01-14 10:00] Mdrbhatti commented on #109
@bahildebrand could we have a new release soon including the changes from #395?

[2022-01-15 00:42] bahildebrand commented on #109
I don't think there have been any breaking changes, so we could probably do a minor rev bump next week. Let me take a look and I'll get back to you.

[2022-01-15 05:30] Mdrbhatti commented on #109
I believe #356 was a breaking change.

[2022-01-15 14:44] ymwjbxxq opened #402 "WebSocket support"
Hello,

I think the request API Gateway WebSocket API to AWS Lambda is not supported.

So if you are using Request from lambda_http

You have this error

`
Error: Error("data did not match any variant of untagged enum LambdaRequest",
`

and so to make it work, it is possible only to use lambda_runtime and create your structure

[code]

It would be nice to access the complete request out of the box

[2022-01-17 17:03] nmoutschen opened #404 "[RFC] Wrap interface for `tower::Service<Request>`"
__Remark__: This is a follow-up to https://github.com/awslabs/aws-lambda-rust-runtime/issues/374 as I'm currently implementing it. See https://github.com/awslabs/aws-lambda-rust-runtime/pull/401 for progress.

## Background

Right now, the current implementation in `lambda_http::handler` takes a handler function that takes a `Request` and returns an `IntoResponse` implementation. This allows to pa

[2022-01-18 03:51] brainstorm commented on #404
I do find Proposition 2 more clean than prop 1, as an end user that is.

[2022-01-18 08:57] rimutaka commented on #404
What are the limitations of Prop 1 vs Prop 2? If the only difference is having `.into_runtime()` then Prop 2 seems nicer.

[2022-01-18 16:14] calavera commented on #404
Option 2 looks more clear to me. I link that I don't have to remember a different crate name to run the service, it's all in `lambda_http`.

[2022-01-18 19:31] greenwoodcm commented on #404
I agree that Prop 2 seems cleaner as well

[2022-01-19 06:51] nmoutschen commented on #404
Looks like everyone's on agreement on this, and this will simplify the external interface quite a lot. 😄 Thanks, folks!

[2022-01-19 16:35] LucioFranco commented on #404
I think prop 2 looks good. I would probably use `service_fn` over a manual service implementation. In addition, this supports people to use things like warp or axum which is nice. I think building around tower is a great initiative (I think ive wanted this in here for a while).

cc @davidpdrsn may be interested

[2022-01-19 16:46] davidpdrsn commented on #404
I agree! This looks great 😃

[2022-01-19 17:22] coltonweaver commented on #404
+1 to seeing if we can use `service_fn`, but overall Prop 2 is great. Thanks for putting this together @nmoutschen!

[2022-01-20 18:08] nmoutschen commented on #404
Closing the ticket as this is now implemented in https://github.com/awslabs/aws-lambda-rust-runtime/pull/401/commits/84d41c9ba069ca7d40d0ff156bb84e974db10f0d

[2022-01-20 18:08] #404 closed

[2022-01-21 08:01] #96 closed

[2022-01-21 08:01] #374 closed

[2022-01-22 08:27] #398 closed

[2022-01-24 17:07] Clockwork757 commented on #402
I think the suggested solution is to use types from [aws_lambda_events](https://docs.rs/aws_lambda_events/latest/aws_lambda_events/index.html). Specifically I think you're looking for [this one](https://docs.rs/aws_lambda_events/latest/aws_lambda_events/event/apigw/struct.ApiGatewayWebsocketProxyRequest.html).

[2022-01-24 18:58] ymwjbxxq commented on #402
I wish this to be integrated and not as an external crate.

[2022-01-26 00:42] calavera commented on #402
We might be able to integrate it soon. There are a few improvements that I'm working on that I'd like to see in a release before that happens, like this one https://github.com/LegNeato/aws-lambda-events/pull/55

[2022-01-27 08:41] nmoutschen commented on #396
Small change to my previous comment: I've replaced `extension_fn` and `log_fn` with `service_fn`.

[2022-01-27 15:56] nmoutschen opened #409 "lambda_http: Use http_body::Body for responses"
Since https://github.com/awslabs/aws-lambda-rust-runtime/pull/406, `lambda_http::Body` implements `http_body::Body`. However, `lambda_http::LambdaResponse` only accepts `lambda_http::Body` as response body.

With this proposal, we could create a `LambdaResponse` from any `Request<http_body::Body>`, which means Lambda functions could return anything that implements this trait.

## Drawbacks

Right

[2022-01-27 16:09] calavera commented on #396
yup, if you look at the examples in #407, I'm already using `service_fn` 😄

[2022-02-04 06:30] bnusunny commented on #409
This will be very useful. For example, in [AWS Lambda Adapter](https://github.com/aws-samples/aws-lambda-adapter), I have to convert from reqwest::Response to lambda_http::LambdaResponse. If this conversion is handled by lambda-http, it will help to remove big chunck of code from Lambda Adapter.

[2022-02-04 06:37] bnusunny opened #410 "lambda_runtime panic when running inside an extension"
I'm rewriting AWS Lambda Adapter as a Lambda Extension. The adapter will be started as an extension and also act as RAPID client using lambda_runtime. However lambda runtime panics because two environment variables "AWS_LAMBDA_LOG_STREAM_NAME" and "AWS_LAMBDA_LOG_GROUP_NAME" are NOT available for extensions.

I make a small change to workaround this issue: https://github.com/bnusunny/aws-lambda-ru

[2022-02-09 01:53] calavera commented on #409
I think we need to see before/after examples of how this would work.

[2022-02-09 01:55] calavera commented on #348
@mlafeldt do you want to open a PR and change this? I think we'd be open to that improvement.

[2022-02-09 01:59] calavera commented on #29
I'm going to close this conversation since it looks stale. We've made several improvements lately, including integrating with Tower, and we have examples in the https://github.com/aws-samples organization. Feel free to leave a comment here if you think we should discuss this topic further.

[2022-02-09 01:59] #29 closed

[2022-02-09 10:25] mlafeldt commented on #348
@calavera Absolutely. See #413

[2022-02-09 20:15] #410 closed

[2022-02-09 20:25] calavera opened #414 "Migrate to Rust 2021 edition"
There were some issues migrating to 2021 edition. I think we should address the problems and move all the crates to the 2021 editions.

[2022-02-10 13:29] nmoutschen commented on #414
Is there any compelling reason to move to 2021 at the moment?

Currently, the AWS SDK is on 2018 with a MSRV of 1.54.0, so I'd personally prefer to stay there for compatibility reason.

[2022-02-16 19:21] JimLynchCodes opened #417 "Invoke Doesn't Work?"
Hi!

I followed the guide here and am trying to run the "invoke" command to invoke the function locally, but it gives me a strange error...

`npx serverless invoke -f hello` gives me this error:

[code]

when I run `serverless doctor` it just says this:
[code]

[2022-02-16 19:43] nmoutschen commented on #417
Hey @JimLynchCodes!

Could you check if you have the [serverless-rust](https://github.com/softprops/serverless-rust) installed and configured in your `serverless.yml`?

If you're using one of the examples that uses `rust` as the runtime, you'll need to use that plugin. Otherwise, it'll throw an error as `rust` is not a valid runtime.

[2022-02-16 21:43] #392 closed

[2022-02-16 21:43] #396 closed

[2022-02-17 07:36] #348 closed

[2022-02-18 16:35] calavera opened #421 "Change default branch to `main`"
That's the default branch name that we've been using in all our repositories. I believe we should make the update here sooner rather than later.

[2022-02-18 17:46] nmoutschen commented on #421
Sounds good!

I think the most important changes will be on the GitHub workflows (e.g. [here](https://github.com/awslabs/aws-lambda-rust-runtime/blob/master/.github/workflows/build.yml#L87)), and we should keep the master branch for those that use it as a dependency, but we should definitively switch to `main`.

[2022-02-18 19:09] nmoutschen opened #422 "docs: Refer to zigbuild/AL2"
At the moment, the documentation recommends using `cargo build` directly, or running the build in a Docker container which can cause issues based on the platform someone is using. For example:

* https://twitter.com/ShortJared/status/1494564998844239879
* https://twitter.com/bryson3gps/status/1492922934662516743
* https://github.com/aws-samples/serverless-rust-demo/issues/2

Zigbuild is a promisin

[2022-02-19 04:47] ymwjbxxq opened #423 "lambda_http thread 'main' panicked at 'failed to build request"
Hello,

APIGW has the following types:

- HTTP
- REST
- WebSocket

It seems to me that the lambda_http::Request works only for APIGW HTTP API and not for the rest of the types.

I am currently trying the REST API

**your sample code:**
[code]

**error:**
thread 'main' panicked at 'failed to build request: http::Error(InvalidUri(InvalidFormat))',

if you try to use for example
use aws_lambda_events

[2022-02-19 05:35] calavera commented on #320
closing this issue because lambda_http can do that for you.

[2022-02-19 05:35] #320 closed

[2022-02-19 08:04] nmoutschen commented on #423
Hey @ymwjbxxq !

I tried to reproduce your issue by creating a Lambda function backed by an API Gateway REST API, but it works for me: https://github.com/nmoutschen/repro-423

We had a similar issue not too long ago (https://github.com/awslabs/aws-lambda-rust-runtime/issues/368), which was due to the internal struct being too strict when testing with sample events from the AWS Lambda console, or l

[2022-02-19 12:14] ymwjbxxq commented on #423
Deploy a private rest api

[code]

go to the aws console, and try to post something

[2022-02-19 13:42] ymwjbxxq commented on #423
@nmoutschen the input from the console is like at this issue:

https://github.com/LegNeato/aws-lambda-events/issues/67

As you can see, I was using lambda_runtime but the return
[code]

generate a malformatted error on the API, so I tried to move to lambda_http but it panics

[2022-02-19 15:42] calavera commented on #423
I'm bringing the events from that crate into this one this weekend. I believe that should fix this problem.

[2022-02-19 15:48] ymwjbxxq commented on #423
@calavera I tried this but I get

![Screenshot 2022-02-19 at 16 46 10](https://user-images.githubusercontent.com/78874812/154808032-7a655ef4-3ece-4562-8a5f-d642ce773a57.png)

I think I need to implement some sort of mapping but you know it should just work ;)

[2022-02-19 15:56] calavera commented on #423
yes, it's not a straightforward as changing the type in the handler signature, you should not have to worry about that.

[2022-02-19 17:55] JimLynchCodes commented on #417
Thanks @nmoutschen !

I tried installing the plugin with: `serverless plugin install -n serverless-rust`

Now, though when I try to invoke local I get this error:
[code]

[2022-02-19 18:07] nmoutschen commented on #417
Hey @JimLynchCodes!

Could you check which version of Rust you are using by running `rustc --version`?

The latest version of Rust is 1.58.1, and the minimum supported Rust version (MSRV) for the Lambda runtime is 1.54.0 at the moment. One of the features mentioned (track_caller) is stable since Rust 1.46.0, so I suppose you might have a fairly old version of Rust at the moment, which doesn't supp

[2022-02-19 18:19] #12 closed

[2022-02-19 18:19] #107 closed

[2022-02-19 18:19] #249 closed

[2022-02-19 18:19] #307 closed

[2022-02-19 18:19] #402 closed

[2022-02-19 18:19] #423 closed

[2022-02-19 23:33] #346 closed

[2022-02-19 23:35] #422 closed

[2022-02-21 08:18] ymwjbxxq opened #431 "Request body helper method"
Hello,

currently, I do this for each route that uses a body

[code]

I think all of this could be hidden, and the SDK should expose some helper method that will return a Result but that it will take care of doing the transformation.

I would like to pass my struct, so my T and give the type of Body, and this helper method will return T if everything is okay or the type of Error.

I hope this is c

[2022-02-21 11:06] nmoutschen commented on #431
Hey @ymwjbxxq !

If you use the `lambda_http::RequestExt` extension trait, there is a `payload()` function that can deserialize the `Body` based on the content type: https://docs.rs/lambda_http/0.5.0/src/lambda_http/ext.rs.html#249-273

[2022-02-21 11:40] ymwjbxxq commented on #431
lovely. In serverless-rust-demo is not used ;)

[2022-02-21 11:40] #431 closed

[2022-02-21 11:55] nmoutschen commented on #431
Yep, I need to implement it 😅

[2022-02-22 15:38] JimLynchCodes commented on #417
Is there some extra OpenSSL configuration needed to make this work? 🤔

[2022-02-22 16:44] nmoutschen commented on #417
This sounds like an issue related to OpenSSL for `x86_64-unknown-linux-musl` not being installed on your host system.

From the `openssl-sys` crate, it looks like you're trying to use the OS-specific implementation of TLS (OpenSSL for Linux). If the specific library is not present, you'll get that exception.

The easiest way to solve this issue is to switch to a full Rust implementation (`rustls`)

[2022-02-27 02:24] #421 closed

[2022-03-06 02:25] yotaro-shimose opened #438 "Can not use TraceLayer from tower_http crate"
Hi.
I'm enjoying this library to create http server using lambda with rust's low memory consumption and speed.
I'm new to rust so this might be stupid question.

I want to log any (successful or failed) response in cloud watch using layer like we can in actix_web just by adding a line of code like
[code]

So I tried
[code]
but this code does not compile.

The compiler says
[code]

I'm not confiden

[2022-03-08 03:38] calavera commented on #438
We need to modify the Body enum that we use for responses to implement this trait:

[code]

That implementation is here: https://github.com/LegNeato/aws-lambda-events/blob/master/aws_lambda_events%2Fsrc%2Fencodings.rs#L177

[2022-03-08 07:36] nmoutschen commented on #438
`tower_http::trace::ResponseBody` implements `http_body::Body`, so we could solve this issue in a more generic way. I see two options for this:

1. implement `From<http_body::Body>` for `aws_lambda_events::encodings::Body` and ensure that `lambda_http::IntoResponse` would work there.
2. implement `http_body::Body` for `aws_lambda_events::encodings::Body` and accept any `http_body::Body`.

The 2nd

[2022-03-09 07:34] nmoutschen commented on #417
Hey @JimLynchCodes ! Since there hasn't been any activity for over two weeks and there's no real issue with the runtime, I'll go ahead and close this ticket.

If you're still facing issues with building Lambda functions in Rust, feel free to start a [new discussion](https://github.com/awslabs/aws-lambda-rust-runtime/discussions) and I'll be happy to look at it.

[2022-03-09 07:34] #417 closed

[2022-03-09 21:55] niroam opened #443 "Accessing RequestContext"
Hi,

A question not an issue - still learning rust as well so bear with me :)

could someone help understand how the Object models work with the request types

I am calling my handler function like this

`lambda_http::run(service_fn(|event: Request| process_request(event))).await?;`

so passing in an event object of type Request, the event is coming from an APIGW Lambda Proxy Intergration

within

[2022-03-10 07:57] nmoutschen commented on #443
Hey @niroam !

The `RequestContext` is an enum, and the actual data could vary based on the source of the call (API Gateway REST, HTTP, or WebSockets APIs, or an ALB). To access the inner data, you'll need to either use `if let` or `match`. If you know for sure which variant it will be and don't plan on changing it, I'd recommend using `if let`.

E.g. with `if let`:

[code]

E.g. with `match`:
[co

[2022-03-10 09:45] nmoutschen commented on #438
`aws_lambda_events::encodings::Body` already implements `http_body::Body` (see [the code here](https://github.com/LegNeato/aws-lambda-events/blob/master/aws_lambda_events%2Fsrc%2Fencodings.rs#L330-L364)).

We could transform `lambda_http::run` to accept any `Request<http_body::Body>`, but there are a few gotchas we need to think about:

1. Because `aws_lambda_events::encodings::Body` implements `h

[2022-03-10 16:34] shymega opened #445 "thread 'main' panicked at 'failed to build request: http::Error(InvalidUri(Empty))' <-- Regression?"
Hi,

I'm working on some proprietary code for an AWS Lambda function in Rust. I'm deploying it via container, but that is not related to the panic I'm getting.

Using both `rie` and the AWS Lambda console, my function panics after starting, just when it runs `service_fn` - the aetiology appears to be ambiguous. Below, I've pasted a part of the log from `rie`.

[code]

Using SAM's local API, the fu

[2022-03-10 19:42] nmoutschen commented on #445
Hey @shymega !

Looking at the [source code](https://github.com/awslabs/aws-lambda-rust-runtime/blob/main/lambda-http/src/request.rs#L293), this looks like an issue trying to map a WebSocket API request into an `http::Request`, but got an error as the URI in the request was empty.

This could happen if the request doesn't have a `host` header and the `path` field in the payload is empty, as `http:

[2022-03-10 20:14] shymega commented on #445
Hey @nmoutschen  - thanks for getting back to me. I can confirm I wasn't parsing a `Host` header, but I'm using the Runtime Interface Emulator and the AWS console. I was using cURL with RIE. The payload is empty for now and should be a POST request. I will have a look if I can upload it to Lambda and API Gateway, then get back to you.

[2022-03-16 08:14] overheat opened #447 "How to print log to stdout using tracing under sam local invoke."
Hi,

I am using `sam local invoke` to testing my rust lambda.
And I try to add `tracing::info!("something");` to my lambda. But only response shown in the console.
No "something" printed.

[2022-03-16 08:28] #447 closed

[2022-03-16 08:45] overheat commented on #447
My mistake. Wrong sam local invoke command.

[2022-03-17 20:16] calavera commented on #445
👋 I'm going to close this issue since it looks like it's a problem with RIE not sending http request headers, which AWS Lambda sends.

[2022-03-17 20:16] #445 closed

[2022-03-21 05:04] bnusunny opened #450 "http request url should not include stage in lambda_http"
In lambda_http v0.5.0 and v0.5.1, stage is added to http request url. This is a breaking change from v0.4.

Stage should not be included in the generated http request url. Including the stage in the url will couple the lambda function to the API GW deployment stage. The orginal behavior allows one lambda function to be deployed in different stages and works pertfectly fine. I think this is one of

[2022-03-21 12:24] bnusunny opened #452 "Allow customized User-Agent used by lambda-runtime-api-client"
In [AWS Lambda Adapter](https://github.com/aws-samples/aws-lambda-adapter), we want to send a custom User-Agent to lambda Runtime API.

lambda-runtime-api-client has a default User-Agent string, e.g. "aws-lambda-rust/0.5.0". To allow custom User-Agent, we can set an environment variable CUSTOM_USER_AGENT at compile time, like this.
[code]
And when building the http request, use it if it is configu

[2022-03-21 15:10] calavera commented on #450
As far as I understand the API GW docs, the stage is part of the URL, before the path. It makes sense to me that the URL that the lambda function receives is exactly the same that requests are sent to through API GW.

I don't think this is correct. The URL is generated when requests come in, so if you have the same lambda deployed in two different stages, when requests come in, the lambda function

[2022-03-21 15:23] calavera commented on #452
That makes sense to me. I'd make the variable name `LAMBDA_RUNTIME_USER_AGENT` to be explicit on what's used for.

[2022-03-21 21:53] rimutaka commented on #452
1. What is the use case for this? Just curious.
2. `user_agent` can also be a constant with the match statement that builds it

[2022-03-22 02:11] bnusunny commented on #450
Yes, the stage is in the frontend URL called by clients. But API Gateway does the work to parse the request and send the
 proxy integration request to lambda in [this format](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format). In this format, path and stage are seperated properties.

The lambda functi

[2022-03-22 02:19] bnusunny commented on #452
Good suggestions. I will send a PR shortly.

This will help us to understand the usage of different runtimes/custom clients.

[2022-03-22 02:44] calavera commented on #450
The reason why serverless-express works as you describe it is because they access the raw event coming from API GW, or ALB, they are not using an abstraction like lambda_http. In their case, they are using the basic javascript runtime, it's the equivalent of using the lambda_runtime directly, without the http abstraction on top.

[2022-03-22 02:46] bnusunny commented on #450
Yes, #453 works for me. Thanks.

[2022-03-22 03:00] bnusunny commented on #450
Sorry, #453 expose the RawPath, But the URL still contains the stage.

Let's look at the custom domain name case. I have a demo here:

Rest API: https://4ifijz53d0.execute-api.us-west-2.amazonaws.com/Prod/
Custom Domain Name: https://express-zip.awsguru.dev/

Inside the Lambda function, with v0.5.1 lambda_http crate, the path reached is '/Prod'. This is not the real path requested by end customer.

[2022-03-22 05:48] bnusunny commented on #450
Lambda_http crate is indeed the Rust equalant of serverless-express and serverless-java-container. Thanks to you and other maintainers, it is much easier to develop Serverless HTTP APIs with Rust.

But seperating stage and path is the right approach for this problem. It makes API development much easier. Let's take the pet store application as an example. It has 3 API routes:

[code]

If we don't

[2022-03-23 09:20] nmoutschen commented on #450
Do you mean that when someone uses a custom domain, the path is no longer correct?

If so, I don't think the problem comes with the runtime exposing the stage in the path, but is a bit more subtle than that. Basically, we should be able to show the right URL that the end-users requests - whether it includes the stage or not.

However, I'm unsure what we get from the raw event in case of a custom d

[2022-03-23 09:40] bnusunny commented on #450
Yes, with custom domain name, the path is not correct with v0.5.1. I agree API Gateway base path mapping is another thing to consider. Look at serverless java container, users can provide custom domain names and base path so that it can be handled properly.

Check out the two configurations variables 'serviceBasePath' and 'addCustomDomainName' [here](https://github.com/awslabs/aws-serverless-java-

[2022-03-23 15:13] calavera commented on #450
Given that there are no web frameworks that work out of the box with lambda_runtime, or lambda_http, people are going to always need to write an adapter for requests, or to use something like your lambda-adapter, which provides the request handling for them. #453 makes that possible in a way that doesn't make it harder to use lambda functions by default.

If you want to discuss more configuration

[2022-03-24 09:47] bnusunny commented on #450
Thanks for the reminder. I will implement some of the ideas in Lambda Adapter. When it is mature, I will open a RFC.

[2022-03-27 06:16] misogihagi opened #455 "/var/task/bootstrap: /lib64/libc.so.6: version `GLIBC_2.25' not found (required by /var/task/bootstrap)"
sorry if my misunderstanding.

pulling my code,
[code]
building,

[code]

and running

[code]

then type test and Ctrl+D responded
[code]

How can I treat this?

[2022-03-27 14:38] nmoutschen commented on #455
Hey @misogihagi !

I see that you're referring to a container image meant to mimic the `provided` runtime, which uses Amazon Linux 1. There are two options to solve this issue:

1. Use an image mimicking the `provided-al2` runtime (such as `/amazon/aws-lambda-provided:al2`); or
2. Compile for GLIBC 2.17.

You can find more instructions about this in the [Section 1.2. of the README file](https://gi

[2022-03-30 15:20] milenkovicm opened #457 "Crate `lambda-extension` naming inconsistency"
This issue is a bit on pedantic side, and its about naming of `lambda-extension` crate which is inconsistent with other two published crates `lambda_runtime` and `lambda_http` (which are not aligned with `aws-sdk-*`  naming strategy).

Would it make sense to align names while it is still fresh?

[2022-03-31 11:24] nmoutschen commented on #457
Hey @milenkovicm!

Agree with you on this one. I reserved the crate name with a `-` while we were developing it (forgetting that the other ones use `_`), so it's totally a mistake on my side. Unfortunately, crates.io doesn't allow creating a crate with an underscore when one with a dash exists (and reciprocally), and does not prevent deleting crates either. Thus we're stuck with this inconsistency

[2022-03-31 12:54] milenkovicm commented on #457
I guess we can close this one to reduce noise then

Thanks @nmoutschen

[2022-04-03 19:24] 0xDjole opened #458 "Custom context"
I am trying to create custom context that gets reused between invocations.
Here specifically trying to reuse mongodb client.

[code]

Getting: Closure may outlive the current function, but it borrows `custom_context`, which is owned by the current function

Can `handler_fn` be used to support something like this?

[2022-04-03 20:25] calavera commented on #458
Yes, See this example that shares custom resources: https://github.com/awslabs/aws-lambda-rust-runtime/blob/main/lambda-http/examples/shared-resources-example.rs

Your current code is bumping into Rust borrowing challenges. There is a good explanation on how it works here: https://blog.logrocket.com/introducing-the-rust-borrow-checker/

[2022-04-03 20:26] #455 closed

[2022-04-03 20:27] calavera commented on #455
Closing because Nicolas already explained how to solve that problem

[2022-04-04 02:12] brainstorm commented on #414
I don't seem to have any compat issues from the user side using latest versions of AWS SDK: https://github.com/umccr/s3-rust-noodles-bam/blob/master/Cargo.toml#L5

[2022-04-04 13:08] #77 closed

[2022-04-05 15:11] ecejeff opened #461 "InvalidUriChar in query string parameters"
Hi,

I'm just getting started with using rust with AWS Lambda and set up a test that I could see how the API gateway transformed various inputs.

Here's my test rust lambda file:
[code]

Cargo.toml:
[code]

When accessing through a URL with spaces in the parameters such as `https://myapiendpoint.execute-api.us-east-1.amazonaws.com/prod?param1=test%20with%20spaces` I get the following error:

[code

[2022-04-05 15:29] calavera commented on #461
That looks like a bug to me

[2022-04-05 15:31] #295 closed

[2022-04-06 15:03] misogihagi opened #462 "aws-lambda-provided doesnt work"
related to #455

I used _amazon/aws-lambda-provided:al2_ instead _lambci/lambda:provided_
then
`curl -XPOST "http://localhost:9000/2015-03-31/functions/function/invocations" -d '{"key":"hello"}'
`

responded nothing.

Deployed my function works well but offline docker version doesn't work.

how should I make it closer to running AWS lambda?

[2022-04-07 04:06] misogihagi commented on #462
pulling my code,
[code]
building,

[code]

and running

[code]

then

[code]

reproducing above.

[2022-04-07 16:41] seanpianka commented on #462
I'm not sure if my issue is related, but after upgrading from an older pinned revision `dcc33ea9e3fba5750f582ff5307a26ee320d70ed`, my AWS Lambda function is responding with 404 for any endpoint (whereas before, it properly routed requests for the same URI).

[2022-04-07 16:43] calavera commented on #462
@misogihagi I'm not familiar with that docker image, but for what you post, I think you need to modify the `function` path in the curl request with the name of your binary:

[code]

@seanpianka that's unrelated.

[2022-04-08 23:34] greenwoodcm opened #465 "Provide convenience wrappers around the runtime client"
In the `lambda-runtime-api-client` crate we have the `Client` struct that basically wraps a hyper client in some Lambda-specific magic.  The interface into this `Client` is still arbitrary HTTP requests and responses.  In reality users of this crate are going to interact with their client in very specific ways, essentially those defined in the [runtime API](https://docs.aws.amazon.com/lambda/lates

[2022-04-09 03:00] calavera commented on #465
Feel free to open a PR with your proposal.

[2022-04-09 21:30] greenwoodcm commented on #465
Actually reading through the code more closely, I don’t think the ask above makes any sense.  I’ll open a PR if something feels worth adding.

[2022-04-09 21:30] #465 closed

[2022-04-10 16:57] misogihagi commented on #462
It looks irrelevant...
[code]
returned
_404 page not found_

how can I test offline...

[2022-04-10 23:15] calavera commented on #462
My recommendation is to use [cargo-lambda](https://crates.io/crates/cargo-lambda). You don't need docker, and I know it works, because I wrote it, and I just tested it with your repository 🤣

This is how you use it for you test repository:

1: Install
[code]

2: In the root of your repository, start the server in one terminal with:
[code]

3: Send invoke requests from another terminal:
[code]

[2022-04-11 13:40] bnusunny commented on #462
@misogihagi You should mount custom runtime bootstrap file to /var/runtime directory.

[code]

[2022-04-11 16:07] misogihagi commented on #462
@calavera
thanks to advice!
cargo-lambda cannot be installed though..
[code]

@bnusunny
Yes!
what you said hit a bullseye!
Thanks!

[2022-04-11 16:07] #462 closed

[2022-04-12 14:00] davidbarsky commented on #462
@misogihagi `assume_init` was made const in 1.59 (https://doc.rust-lang.org/stable/std/mem/union.MaybeUninit.html#method.assume_init). While that version of Rust was released 7 weeks ago, I suggest updating every 6 weeks if you can—the current stable version of Rust is 1.60.

[2022-04-19 06:07] Archisman-Mridha commented on #83
any work going on related to this thread ?

[2022-04-19 07:22] nmoutschen commented on #438
To update here, this would work by changing what we accept as a handler response (see https://github.com/awslabs/aws-lambda-rust-runtime/pull/466), and potentially more layers in the tower ecosystem.

[2022-04-19 15:10] calavera commented on #438
I'd be onboard with being more compatible with the ecosystem in general, even if it means changing some basic behaviors. I doubt anyone use many `"OK".into()` as response messages in real applications.

[2022-04-19 17:07] calavera commented on #83
@Archisman-Mridha this project from the community is awesome: https://github.com/calavera/rust.aws-cdk-lambda

[2022-04-19 22:44] Archisman-Mridha commented on #83
Oh thankyou ☺

[2022-04-22 14:00] fancywriter opened #467 "GLIBC not found while building against Amazon Linux 2 - x86_64"
Hello!

I am trying to build example from README. It is said it's recommended to use Amazon Linux 2 runtime because it's "easier to build", that's what I am trying to do.

My Cargo.toml:
[code]
`src/main.rs` is the same as in README.

Building with command (from the Linux laptop with the same x86_64 architecture, `uname -m` gives me `x86_64`)
[code]
Success. Than deploying with command
[code]
Also

[2022-04-23 23:03] calavera commented on #467
I think you've bumped into this issue: https://github.com/ziglang/zig/issues/9485

I'm trying to find a way to mitigate that. @messense documented that as one of the caveats of using Zig: https://github.com/messense/cargo-zigbuild#caveats

[2022-04-24 01:33] messense commented on #467
@calavera I think the problem is that cargo-lambda disables zig linker when compiling from x86_64 to x86_64: https://github.com/cargo-lambda/cargo-lambda/blob/b9b6a1993ad7ae5563d8c1a82b023396bfaf2a31/crates/cargo-lambda-build/src/lib.rs#L72

[2022-04-24 01:35] calavera commented on #467
oh yeah, you might be right. And the problem is that if we don't disable it, you need to use a nightly build, is that still the case @messense?

[2022-04-24 01:37] messense commented on #467
@calavera I'm working on a **hack** to enable that feature on stable Rust: https://github.com/messense/cargo-zigbuild/pull/32

[2022-04-24 02:16] messense commented on #467
Released in [v0.8.5](https://crates.io/crates/cargo-zigbuild/0.8.5).

[2022-04-24 16:56] calavera commented on #467
Thanks @messense I'll test it today.

@fancywriter, as a "workaround" until I release a new version of cargo-lambda, you can also build and deploy using ARM as the architecture if your code is not dependent on X86_64 in any way.

1. Change the target when you build the function:

[code]

2. Add the `--architectures` flag in the aws cli:

[code]

[2022-04-26 09:40] fancywriter commented on #467
@calavera now I am getting "Failed to find zig" error. I have tried both ways to install it, tried to choose pip3 and npm. Probably misconfigured something like PATH... where exactly is it trying to find zig? I don't see **zig** binary anywhere either after installing either pip3 or npm package...

[2022-04-28 03:03] calavera commented on #467
I just published cargo-lambda 0.7 that mitigates this problem.

[2022-04-28 03:03] #467 closed

[2022-05-03 19:28] eduardomourar opened #468 "Publish new release for lambda_http"
Could a new version of `lambda_http` be published to crates.io, please?

I am very much interested in the changes from this PR here: #453. Installing using git locally works fine, but not in GitHub actions (error details [here](https://github.com/awslabs/smithy-rs/runs/6272713717?check_suite_focus=true)).

[2022-05-04 21:43] calavera commented on #468
I'll publish a release tonight. I'll close this issue when that's done.

[2022-05-05 00:38] adriandelgado opened #470 "`lambda_http::Request` should expose `raw_query_string` as a `QueryMap`"
This is a follow-up to [this issue](https://github.com/calavera/query-map-rs/issues/1)  @calavera

I had a new idea while reading closely the [Payload format Version 2.0](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html#http-api-develop-integrations-lambda.proxy-format). There is a `rawQueryString` field! This means we can use this field to cor

[2022-05-05 00:55] calavera commented on #468
We need an approval from another maintainer, so as soon as @nmoutschen gives #469 the 👍 I'll publish it.

[2022-05-05 01:44] ezracelli opened #471 "`query_map` version mismatch"
Hello! It seems that [`aws_lambda_events` has upgraded to `query_map@^0.5`](https://github.com/LegNeato/aws-lambda-events/blob/21444d42d9c1c3efb2fe9a37beab88a5d15675f1/aws_lambda_events/Cargo.toml#L29). As `lambda_http` depends on `query_map@0.4`, I'm getting a host of identical compile errors:

[code]

---

`Cargo.toml`:

[code]

`cargo tree` output:

[code]

[2022-05-05 01:46] ezracelli commented on #471
Ah, I see this will be resolved by #469 !

[2022-05-05 02:44] calavera commented on #471
yeah, sorry about that 🤕

[2022-05-05 07:51] eduardomourar opened #472 "Unable to access extension on Hyper service"
In the context of [smithy-rs](https://github.com/awslabs/smithy-rs) generated service, we are unable to access the [HTTP extensions](https://docs.rs/http/latest/http/struct.Extensions.html) (in our case for the request). The reason is because the generated service is Hyper based and uses the default [HTTP body](https://docs.rs/http-body/latest/http_body/) instead of the [body](https://docs.rs/aws_

[2022-05-05 16:12] #468 closed

[2022-05-05 16:19] calavera commented on #471
fixed

[2022-05-05 16:19] #471 closed

[2022-05-05 17:04] calavera commented on #461
I believe this is fixed in the latest release of lambda-http. Let me know if it's still a problem, and I'll reopen the issue.

[2022-05-05 17:04] #461 closed

[2022-05-06 00:51] calavera commented on #470
what if we make the `QueryStringParameters` use the right parameters by creating a QueryMap from the `raw_query_string`, instead of the mangled apigw v2 ones? To be honest, I don't believe anyone would expect the current behavior of not parsing commas correctly.

[2022-05-06 02:45] adriandelgado commented on #470
That is much better in my opinion. The reason I didn't propose that is that technically the official behavior is to split at commas, but yes... no one expects that.

We should put a note in the documentation saying that we are not following the API Gateway Payload format Version 2.0 on purpose.

[2022-05-06 03:40] calavera commented on #470
yeah, if someone needs the payload format version 2 behavior, they can use the raw runtime and receive those events specifically, they don't need to use lambda_http.

[2022-05-06 14:06] ecejeff commented on #461
Looks good. Thanks!

[2022-05-08 23:37] mehmetcansahin opened #478 "How can I use an external library that is not thread safe?"
Hello, when I use an external library, I get the error "generator cannot be sent between threads safely". I couldn't find what to do as there is an external library for this.

[code]

[2022-05-09 01:19] calavera commented on #478
Hi @mehmetcansahin ,

As the compiler says in `the trait `Sync` is not implemented for `Cell<usize>`rustc`, you're using objects that don't implement traits that make them thread safe. This problem is originated in the libraries that you're using, not in the Lambda runtime. I would open an issue in the `tendril` repository to discuss thread safety with its maintainers, I don't know anything about

[2022-05-09 01:19] #478 closed

[2022-05-15 09:02] indiv0 opened #481 "Improving Compile Times And/OR Pluggable Deserializable Types"
Hey! First let me say that I love this project. Clearly a lot of thoughtful design work has been put in. Kudos to all the contributors. Sorry about the wall of text in advance.

My scenario is this: I’ve noticed that even debug incremental recompiles of an absolutely barebones `lambda_http` app take upwards of 15 seconds. That doesn’t sound like much but multiple this by 10x lambdas in a workspace

[2022-05-15 09:11] indiv0 commented on #481
Another option is to look at crates like https://github.com/dtolnay/miniserde or https://github.com/not-fl3/nanoserde. Disabling the deserializer derives on the `aws-lambda-events` types and replacing them with a hand-rolled nanoserde impl is probably the dream in terms of compile times, but I realize that this trades compile times for development effort on behalf of the crate authors. So unless a

[2022-05-15 17:14] calavera commented on #481
I definitely agree with you. The reason why `aws_lambda_events` have so many deserialization attributes is because there is not a canonical source of truth that really defines if fields are required or optional, so we have to try to cover every single scenario that we can think of. I know AWS is working on improving this, but it's not an easy task since it requires coordination from every service

[2022-05-15 17:18] calavera commented on #481
Something else to point out, is that the apigw events in `aws_lambda_events` are no longer generated using the Go lambda event structures, so they can be optimized as much as we want 😉

[2022-05-15 22:12] indiv0 commented on #481
Brilliant! Somehow I missed that possibility. I'll take a look to see how much that helps. Thank you.

I didn't know that, that's great. Should provide a lot more flexibility when it comes to optimizing.

That's a shame. Is there any way `aws-lambda-events` could become the source of truth? Is it possible to make every field mandatory, then turn them optional over time, as we find out which fields

[2022-05-15 22:21] indiv0 commented on #481
Also, cc @matklad. I don't think you use this repo in particular, but it seems you were running a similar investigation last year. Would be curious to know what conclusions you came to regarding speeding up `serde_derive` usage.

[2022-05-16 05:12] matklad commented on #481
Yeah, in rust-analyzer we also noticed that serde adds a lot of code. For us, that’s not a problem as this happens in the leaf crate, not in the API crate.

I think proc macros are evaluated once, eagerly, in the crate which defines the struct. But if proc macro generates a bunch of generic functions, those fns than are monimorphised lazily, with duplication across leaf crates. So another avenue f

[2022-05-16 11:14] matklad commented on #481
Also, I feel that "JSON serialization takes a lot time to compile" is a problem with hits pretty-much the whole Rust web services ecosystem and, subjectively, it has smaller visibility than it deserves.

So I am wondering if some t-compiler folks at AWS might want to take a look here? cc @pnkfelix

[2022-05-16 15:15] calavera commented on #317
hey folks, we've decided not to do this for the time being, if anything changes, I'll let you know.

[2022-05-16 15:15] #317 closed

[2022-05-16 15:15] calavera commented on #331
hey folks, we've decided not to do this for the time being. If anything changes, I'll let you know.

[2022-05-16 15:15] #331 closed

[2022-05-16 15:19] calavera commented on #481
Before we go though the route of big optimizations, a short term, specific, work that we can do, is to identify exactly which fields are required in those events, and which are optional, and remove as much serde attributes as possible. The reason why there are so many is because the Rust events are based on the Go events, and the language semantics are very different. See this issue for example:

[2022-05-16 21:59] BGR360 opened #482 "Why async?"
`lambda_runtime` brings in a **lot** of dependencies due to its decision to use tokio, hyper, tower, etc.

Async in general is for applications that can leverage concurrent execution. Tokio is meant for applications with super high task counts of primarily network I/O. However, as far as I have been able to tell from reading the Lambda documentation, **AWS Lambda runtimes do not need to handle any

[2022-05-16 22:31] calavera commented on #482
The AWS Rust ecosystem is async first. This makes it easier for people to put projects together with other tools like the AWS SDK for Rust.

[2022-05-16 22:31] #482 closed

[2022-05-17 02:49] BGR360 commented on #482
Async is a model for concurrency, just as threads are. "Let me do this off on the side while you do something else." Note that concurrency (the appearance of doing multiple things at the same time) does not necessarily mean parallelism (literally doing multiple things at the same time).

Indeed, zero-cost at runtime, and only at runtime. Often you pay down the cost elsewhere. Maybe it's the mental

[2022-05-20 04:04] LegNeato commented on #481
Sorry I've been MIA. I'd love to see what the dumbest / straightforward path of just expanding the macros and checking in the generated code before we get fancy.

[2022-05-22 14:17] davidbarsky commented on #482
@BGR360: I'll expand on the point I made in https://github.com/awslabs/aws-lambda-rust-runtime/issues/317#issuecomment-916226693, but I'm a little short on time, so I'll be quick.

I don't disagree that there's a non-trivial mental overhead from `Pin` and friends, but I've found that it's not common to see them. As for the dependencies, any synchronous API that this runtime exposes would need to b

[2022-05-23 18:30] BGR360 commented on #482
Thank you for the detailed response, @davidbarsky.

You're totally right.

This makes sense to me.

Perhaps for an async library :)

---

I may get around to publishing my own minimal, synchronous runtime that models the one we've chosen to hand-roll at my place of work. I think you've convinced me that it doesn't make sense for the official `lambda_runtime` crate to provide a sync-by-default expe

[2022-05-25 17:52] davidbarsky commented on #482
I apologize if my commenting on this issue, especially if it's bothering the maintainers. Happy to move somewhere else!

I understand that this is meant in jest, but this hits on a thing that I consider to be a common misconception: most asynchronous libraries in Rust make the dependency graph _legible_ to Cargo. Unless you're writing out the HTTP requests driving the state Lambda machine as raw b

[2022-05-26 08:39] AnjaneyuluBatta505 commented on #25
for me, it's the problem with the platform. I was on mac with an m1 chip. After setting the **architecture** to `**x86_64**` worked for me.

[2022-05-28 16:39] calavera commented on #481
hey @indiv0, I got curious this morning, so I took a look at how long it takes to compile for me locally. I noticed that for a simple app, we're bringing all the features from Tokio and Tower, which might not be necessary. The codegen phase for aws_lambda_events is only about 2 seconds on my laptop. There is definitely room for improvement, and we might be able to reduce compilation time with some

[2022-06-03 02:19] brainstorm commented on #414
https://github.com/awslabs/smithy-rs/pull/1388

[2022-06-09 16:28] yury-sannikov opened #488 "AWS Lambda attached to the ALB producing thread 'main' panicked at 'failed to build request: http::Error(InvalidUri(InvalidFormat))'"
Hi folks,
I have AWS Lambda attached to the ALB. ALB has a health check set up on it. The health check request is pretty simple and looks like this:

[code]

Using the example code

[code]

I'm getting this error:
[code]

If I'm using `lambda_runtime` everything is ok, though I need to massage data structures manually. Any thoughts? I'm pretty new to Rust so I might miss something.

Thanks.

[2022-06-09 20:35] calavera commented on #488
This is because the payload doesn't have enough information to create a valid http URI. We'll need to modify the code here to support that payload:

https://github.com/awslabs/aws-lambda-rust-runtime/blob/v0.5.2-lambda-http/lambda-http/src/request.rs#L233

[2022-06-10 11:44] yury-sannikov commented on #488
I dug into it a little bit further and here is what I found:
Since ALB health check request does not set a `host` header value, the URL generated at https://github.com/awslabs/aws-lambda-rust-runtime/blob/v0.5.2-lambda-http/lambda-http/src/request.rs#L81 looks like the `https:///v1/health/` because of the `unwrap_or_default` return an empty string.

@calavera, what do you think would be the fix fo

[2022-06-15 06:10] seanpianka opened #489 "AWS Lambda fails to deserialize query parameters involving encoded JSON blobs"
Deployed to AWS Lambda using Rust 1.60 on Alpine 3.15, and using version 0.5.1 of the runtime as specified in the simple-http example.

The following stacktrace is thrown when deserializing the URI from an upstream API gateway request `http::Error(InvalidUri(InvalidUriChar))`. The request's URI contains an encoded `"` in the value of a query parameter, e.g. `?mapping=%7D%22foo%22`, based on the de

[2022-06-15 21:44] seanpianka commented on #489
Yep, that resolved it, thanks!

[2022-06-15 21:44] #489 closed

[2022-06-21 01:54] rimutaka commented on #481
@calavera , this 2-way Ser/Deser is one of those bugs that were there for long enough to become a feature. [This PR](https://github.com/awslabs/aws-lambda-rust-runtime/commit/c01811a33d33a89d0c55c3c9e90916832f1f7ca8#diff-afcd8529836749ef09e0247d3d27bb30868d4387ea341f7a003a7c2b216070faR37) added the same for _Context_ to enable stubbing out the lambda and running it locally via an SQS proxy - the p

[2022-06-21 10:39] Proful opened #490 "path_parameters is empty from Function URL"
[code]

&req.path_parameters() = QueryMap(
--
{},
)

&req.raw_http_path() = "/notes/5"

I'm using Function URL. path_parameters is empty.

query_string_parameters working as expected

[2022-06-22 15:15] david-perez opened #492 "Unable to specify git dependency to this repository"
In a project's `Cargo.toml`, if I try to [specify a git dependency](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-git-repositories) on this repository:

[code]

And try to build the project, I get:

[code]

I think there's something wrong with how the repo is set up.

GitHub's UI seems to indicate that the directory `examples/extension-logs-kin

[2022-06-23 15:13] #492 closed

[2022-06-23 20:58] singerxt opened #494 "Cannot build an lambda function."
Hello!

First of all, thank you for creating the rust-runtime for Lambda. I really like it.

I'm pretty much a rust newbie and I'm experiencing an error during the `cargo lambda build` command on a freshly created handler using `cargo lambda new test`.

my rust toolchain is:

[code]

I'm getting this error:
[logs.txt](https://github.com/awslabs/aws-lambda-rust-runtime/files/8970928/logs.txt)

Othe

[2022-06-23 21:29] #494 closed

[2022-06-27 14:51] #488 closed, assigned to nobody

[2022-06-29 09:54] UMR1352 opened #496 "Missing libraries when building"
After I added the mysql crate to my project, building with `cargo lambda build --release` gives me the following error:
[code]
My system is up to date (I'm on arch) and so is my rust toolchain
How can I fix this? Where should I add the missing libraries or how can I check if I have them installed somewhere? Sorry for the noob question. Thanks in advance.

[2022-06-29 22:37] Proful commented on #490
Your earlier comment make sense. I think path parameters works with API Gateway not with Function URL.

For function URL, I have to parse raw http path myself. Thanks!

[2022-07-02 20:39] sdd commented on #496
I've been getting the same issue for a few months. It is an issue with cargo-lambda on certain Linux distros, rather than aws-lambda-rust-runtime. It works for some of my projects that use aws-lambda-rust-runtime - just not any that use the `reqwest` library.

If I use cargo-lamba on a project that depends on `reqwest`,  it causes the `-lssl` and `-lcrypto` args to be passed to zigcc. zigcc then f

[2022-07-02 21:39] calavera opened #498 "Dedicated README for lambda_http"
The README that we add to lambda_http when we publish the crate is the same as we use for the runtime. This readme is too generic to be useful to users. We should create a new README specific for lambda_http that talks about the features in this crate, and how to use it, instead of the generic runtime.

[2022-07-02 22:11] sdd commented on #496
This happens with `rustls-tls` and `native-tls`. Oh wow, on the offchance I just tried `native-tls-vendored` and it successfully compiled! Awesome, I'll deploy and see if it works.

I'm not sure if this will solve all of @UMR1352 's build issues though as I'm not using anything that causes my project to require `-lz`.

[2022-07-03 12:57] sdd commented on #496
I thought that too, but I can see the libraries present in both /lib and /usr/lib as symlinks.

The good news is that the resulting lambda.zip worked fine with native-tls-vendored.

I'm sure this issue will crop up again, maybe if I do something using zlib like the OP.

[2022-07-04 07:49] UMR1352 commented on #496
Thanks for your help, unfortunately building directly using `cargo build --release` works just fine without any issues. I have no direct dependency to either reqwest or openssl. `mysql` crate seems to be the origin of the problem, since before adding it the project was building just fine.

[2022-07-04 08:41] UMR1352 commented on #496
I checked, `mysql` depends on `native-tls` and on `flate2` which depends on `zlib`. So `-lssl, -lcrypto, -lz` come from `mysql`.
I managed to solve the building error by changing features: `rustls-tls` as TLS backend for `mysql` and `miniz-oxide` for `flate2`

[2022-07-04 08:41] #496 closed

[2022-07-07 12:40] ferologics opened #499 "Error during dispatch: error trying to connect: invalid peer certificate contents: invalid peer certificate: UnknownIssuer"
### Description
Encountered the following error when calling `IotDataClient.publish`:

[code]

### Reproduction steps
1. create a lambda with arm64 (or x86_64, both have the same issue)
2. package attached lambda with `cargo lambda build --release --arm64 --output-format zip`
3. set up the following IoT rule trigger: `SELECT * FROM "rust_lambda_mqtt"`
4. send a test event json `{ "command": "test"

[2022-07-07 12:52] ferologics commented on #499
Workaround is to use the provided Amazon Linux 1 runtime (instead of custom) and compile the lambda with `cargo lambda build --release --target x86_64-unknown-linux-gnu.2.17 --output-format zip` which produces a working [bootstrap.zip](https://github.com/awslabs/aws-lambda-rust-runtime/files/9063699/bootstrap.zip).

<details>
<summary>screenshot of successful test using Amazon Linux 1 runtime</sum

[2022-07-18 04:37] #414 closed, assigned to nobody

[2022-07-25 10:04] jtomek commented on #445
My friend, you saved me!!! It needs both a `host` and `path` in the POSTed json!! After 2 days of tinkering with Rust Lambda, I finally get "Hello AWS Lambda HTTP request". Thank you!!

[2022-07-29 10:36] NathanielCurnick opened #505 "Failed to build request panic"
Hi there,

Working with the local testing environment for lambdas with `cargo lambda watch` and `cargo lambda invoke <lambda> --data-file test_payload.json` panics the main Tokio thread with `failed to build request` from [here](https://github.com/awslabs/aws-lambda-rust-runtime/blob/336e55268f3f2a90560ef12ef3f7efe7fd6d354c/lambda-http/src/request.rs#L342). Looking at older issues #368 #423 #445 t

[2022-07-29 12:28] nmoutschen commented on #505
Hey @NathanielCurnick! IIRC, the fact that those JSON requests are malformatted just means that they won't correspond to what Lambda actually receives from API Gateway/ALB, thus it's unlikely that an actual user would face that situation unless you're not invoking the functions from APIGW/ALB/Lambda URLs.

[2022-07-29 12:56] NathanielCurnick commented on #505
Thanks for the reply @nmoutschen! Looking at it, I think you're right that some formatting is done by the API Gateway, at least from what I gathered from those old threads. It still irks me slightly that there's a potential crash I can not handle. Maybe an alternative solution is to have the `cargo lambda invoke` wrap test data in the same way as the API Gateway does?

[2022-08-01 20:43] olafur-palsson opened #506 "Default branch as main not supported on some versions of Cargo."
Some versions of Cargo don't support updating from a repo without the branch `master`.
see https://github.com/rust-lang/cargo/issues/3517 for the issue
and that's how #421 introduced a bug.

This is the error I'm getting.

[code]

[2022-08-02 10:54] NathanielCurnick commented on #505
Hi @calavera, thanks for your reply!

I'm using the `cargo lambda invoke <lambda> --data-file test_payload.json` command to test requests. I understand that when on Lambda itself the API gateway wraps the incoming request from a client into a consistent JSON format like the one in the link you provide, where their request body would go in the body field. However, locally, that wrapping does not ha

[2022-08-03 12:51] NathanielCurnick commented on #505
That sounds like a perfect solution. Is there any documentation on how the API Gateway specifically wraps requests? I can make a fork for this soon

[2022-08-03 20:53] u382514 opened #508 "Serializable RequestContext"
We have an internal library that we're wrapping with lambda-http using a custom service. The library obviously has no awareness of lambda-http. We'd like to be able to send the RequestContext through as a serde Value (serde::value::to_value) to essentially make it generic however RequestContext does implement Serialize (only Deserialize). Is there any particular reason for this and would it be pos

[2022-08-03 22:52] u382514 commented on #508
I should've dug deeper into the events repo. This makes sense, I'll do that.

[2022-08-03 22:52] #508 closed

[2022-08-04 15:24] NathanielCurnick commented on #505
No 2 has proven to be the winner for my needs!
For anyone else who comes across this, you can use `if cfg!(debug_assertions)` to switch between `http://localhost:9000/lambda-url/FUNCTION_NAME` and your AWS Lambda URL for tests or production code respectively, for when you need to call other Lambdas.

Thanks for all your help @calavera @nmoutschen !

[2022-08-04 15:24] #505 closed

[2022-08-05 08:29] bburnichon opened #509 "Headers (User-Agent) containing non UTF-8 are not well handled (502 http error)"
In one of my projects, created ages ago (prior to going async) I could handle the issue by myself:

[code]

I could then handle bad headers by simply ignoring them or return a 400 status code.

I should and will upgrade my code to version 0.6.0 but I can check that this is failing still in lambda_runtime even before it is made available for my code.

test.json
[code]

Testing the above payload giv

[2022-08-07 14:25] bburnichon commented on #509
The real lambda does not crash and can receive other requests but returns 502 http errors. I think only a worker thread crashes and the main thread then recovers and continues processing data.

Errors are not available at lambda but on elb side. Hopefully I had some monitorings on both and detected 502 surge but had a hard time understanding the root cause of the issue.

[2022-08-08 09:21] bburnichon commented on #509
Probably somewhere, target deserialization type changed from byte slice to `str`.

https://github.com/serde-rs/json/blob/master/src/de.rs#L1571-L1573

I do agree that the payload is somewhat invalid. But instead of deserializing headers into `Cow<_, str>`, it should be deserialized into `Bytes[]` prior to store it as HeaderValue (which are slices of bytes)

[2022-08-09 08:02] bburnichon commented on #509
I am also looking at this issue. But it seems serde_json does not like non-utf8 characters at all. The least that can be done is handle the error and send a 400 status error.

By the way, I rechecked the old behavior and it seems there were also an issue handling this case but the output was different

With the old program I have normal processing of the request:
[code]

With new program:
[code]

[2022-08-20 20:27] qstorey commented on #461
Hi, is it possible this bug still exists?

I upgraded to lambda_http 0.6.0 but I get the same error when a URL includes spaces.
[code]

I you would like I can create a repo to reproduce this.

[2022-08-22 06:58] qstorey commented on #461
@calavera sure thing. I will open a new issue and include all the details to reproduce it.

[2022-08-24 18:51] qstorey opened #515 "lambda_http fails to build request with spaces - http::Error(InvalidUri(InvalidUriChar))"
Hi,

I'm running into an issue where URLs with spaces are causing my Lambda function to return server errors on API Gateway.

I'm no expert in URL encoding but I do realise that spaces are unsafe characters and should be avoided at all costs. Unfortunately the product I am building is acting as a sort of redirecting proxy and I am not in full control of the URL structure.

Here is the information

[2022-08-29 13:41] m-ronchi opened #517 "Invalid body panics the runtime"
[this line](https://github.com/awslabs/aws-lambda-rust-runtime/blob/fd2ea235f4adb166422ca5b612c4a1a42a626daa/lambda-runtime/src/lib.rs#L124) makes the process exit with status 1 when the request body is malformed (e.g. there are missing fields).

it should instead send back an `EventErrorRequest` with the appropriate error details and continue processing

[2022-08-29 15:38] theherk opened #518 "How to target arch when building with docker in build host?"
I am struggling to sort two things out. I am attempting to build inside a declarative jenkins pipeline. Like this:

[code]

This fails with:

[code]

Fair enough, but I don't understand how the `cargo lambda` passes `--arm64` to the actual cargo build command. So how can I target arm64 using `CARGO_FLAGS` in the same way that `cargo lambda build --arm64` does?

---

Even if I remove this, though,

[2022-08-29 20:01] qstorey commented on #515
@calavera thanks for fixing this. Rebuilt my project using the commit that landed on main and it works like a charm 🎉

[2022-08-30 17:36] seanpianka opened #519 "Lambda invocation logs split across many different logstreams"
Hello 👋 I've noticed that, even without pushing a new version of the Lambda function, the logs for invoking my Rust lambda function always get split across many different logstreams (10s, 100s eventually). Even the same invocation can have half of its logs in one logstream and half in another (later) logstream.

Is there anything specifically I need to do with the runtime to gather all logs (from

[2022-09-05 16:39] sgasse opened #522 "Adding request context to request?"
We have a lambda function running behind an API Gateway with a custom authorizer. The authorizer adds information to the `RequestContext` that is relevant for our lambda function. To facilitate testing this function, it would be great to add a `RequestContext` with the same ease as adding query string parameters.

I looked at the code for `with_query_string_parameters` and followed the same approa

[2022-09-08 09:40] leny opened #528 "lambda_http(cargo lambda start): failed to serialize lambda-url event"
Hi, I'm really new into rust & rust with lambda (more into lambda with node.js), and I'm not sure if I encounter a bug or I did something wrong.

I'm unable to test my APIGateway lambda function made with `lambda_http`.

I have this little **about** function :
[code]

Nothing very complex, as you may see. When deployed to AWS using CDK, everythings works as expected, I got the following response a

[2022-09-08 19:48] leny commented on #528
Ok, I see. Only downside is that if I replace `apigw_rest` with `apigw_http`, it works locally... but if I deploy with `apigw_http`, it doesn't work anymore in production (which seems "right").
Is there a mecanism or something to change the feature regarding the env (local/prod)?

Thanks again for your help!

[2022-09-08 21:39] leny commented on #528
Yep, I see. I should have read your link with more attention.  Thanks again for your help and your work on this project!

[2022-09-08 21:39] #528 closed

[2022-09-16 21:27] aquacash5 opened #531 "Cannot return svg image from lambda endpoint"
I am trying to create a lambda service that returns a svg based on a Jira ticket. I have everything I need to create the svg, and I got my lambda service running in AWS. The problem I am having is that the endpoint will only return a base64 encoded version of the data. I am not sure what is going wrong, but I created this example project to show what is going on.

https://github.com/aquacash5/svg-

[2022-09-17 00:46] bnusunny commented on #531
`image/svg+xml` is treated as binary by lambda-http crate. You need to add `BinaryMediaTypes` in your SAM tamplete to configure REST API to work with binary response.  This is in API Gateway's [developer guide](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html#api-gateway-payload-encodings-proxy).

[code]

[2022-09-18 01:09] bnusunny commented on #531
Yes, we can. But we could not cover all txt types. Some of them will be treated as binary. Perhaps another configuration to allow users to specify additional text content-types?

[2022-09-18 19:23] aquacash5 commented on #531
Ah, I thought that returning the `Body:: Binary` and `Body::Text` was supposed to indicate how final response was formatted. From the perspective of a library user, I am telling the you (the library) that I am returning text (or in my case text encoded as binary). But from the link you sent me, it seems that information is either ignored or erased at some point.

Thank you for the help.

[2022-09-20 01:01] bnusunny commented on #409
Yes, this was done in #491.

[2022-09-20 01:01] #409 closed

[2022-09-30 15:40] seongs1024 opened #534 "Zig required"
I've installed `cargo-lambda` from the source by running `cargo install cargo-lambda` command.
For building the lambda function, ` cargo lambda build --release` command gives an error below.
It means that `Zig` needs to be required.
[code]

Should `Zig` need to be installed?

[2022-09-30 15:45] #534 closed

[2022-10-06 13:12] franksl opened #537 "Confused about documentation"
Hello,
I was preparing a lambda function in rust using this runtime but I found a difference between the readme in this project and the documentation by aws at (https://docs.aws.amazon.com/sdk-for-rust/latest/dg/lambda.html).
The readme suggests the use of the service_fn function while the aws docs make use of the handler_fn function.

Can you please explain which is the best way?
Thanks,
Frank

[2022-10-06 13:37] bnusunny commented on #537
The example in Rust SDK document is using lambda-runtime v0.4.0. We changed it in v0.5.0 to adopt tower::Service trait. You can checkout the release note here.
https://github.com/awslabs/aws-lambda-rust-runtime/releases/tag/v0.5.0

[2022-10-06 17:26] greenwoodcm opened #539 "[RFC] Macro for generating multiple ZIPs for multiple handlers"
It is a best practice to have a Lambda function be single-purpose and to stitch multiple functions together to compose a larger application.  That makes each Lambda function more easy to implement, test, scale, and operate.  I imagine that most users adopting this best practice still want to write a single package with several contained functions, for instance with multiple APIs that make up a ser

[2022-10-07 02:33] bnusunny commented on #539
lambda-http crate was inspired by [Serverless Java Container](https://github.com/awslabs/aws-serverless-java-container). The intent is to provide an adapter/wrapper between rust web frameworks and Lambda event format. Developers can use the web frameworks to handle routing. Here is one example project: https://github.com/lazear/axum-aws-lambda

[2022-10-10 13:48] heathprovost opened #543 "Querystrings that have percent encodings get double encoded for Lambda ALB Events in lambda-http"
This was an issue originally raised here: https://github.com/awslabs/aws-lambda-web-adapter/issues/99. Since the root issue is not in that project but this one I'm moving discussion here.

**Problem**: Whenever a url that contains a querystring with percent encoded values is passed through lambda-http, it gets double encoded in the newly generated http request if the original event source was an A

[2022-10-11 15:47] #543 closed

[2022-10-13 17:08] antonio-hickey opened #549 "question: How can I convert mysql errors to `HandlerError` ?"
Hey all, sorry in advance for putting a question in issues. I'm having trouble converting error's from [mysql crate](https://docs.rs/mysql/latest/mysql/) to `HandlerError` was wondering if anyone could assist.

The mysql crate docs has this:
[code]

I tried this with no luck:
[code]

Any help is appreciated thanks!

[2022-10-14 07:59] bburnichon commented on #509
Actually, the issue is that JSON payload of the ALB is invalid. Should an issue be declared there and find a way to handle these kind of issues

[2022-10-14 15:03] bburnichon commented on #509
`serde_json` considers a JSON `"Beno\xEEt's User-Agent"` as invalid because it is trying to have a raw character outside ASCII and not UTF-8 character. According to https://www.json.org/json-en.html or https://www.ietf.org/rfc/rfc4627.txt , `\xXX` escape sequence does not exist, the only one existing is for `\uXXXX`. serde_json accepts `\x` escape sequence but only for values in the range `[\x00-\

[2022-10-14 17:56] bburnichon commented on #509
Nice! Did not see this. I should definitively take time to upgrade to version including this pr.

[2022-10-17 01:29] Archisman-Mridha opened #551 "Add tests to all the examples"

[2022-10-17 07:40] Archisman-Mridha commented on #551
Yes i am interested in contributing.

[2022-10-17 07:41] Archisman-Mridha commented on #551
There is not any specific example. But we should always promote the importance of testing.

Yes i am interested in contributing.

[2022-10-20 05:11] LinDong123a opened #552 "Wrong _X_AMZN_TRACE_ID environment"
# Description
Request header 'X-Amzn-Trace-Id'  from lambda-http key is "Root=;, without **sample** and **parent** key

# Expected
X-Amzn-Trace-Id： Root=xxxx;Parent=xxxx;Sample=x;

# Environment
lambda_http = "0.7.0"

[2022-10-22 06:14] ymwjbxxq commented on #498
Hello David,

I can take care of this by also adding examples at the same time.
With the excuse, I will learn something.

[2022-10-24 17:00] #498 closed, assigned to nobody

[2022-10-25 00:28] seanpianka opened #555 "non-exhaustive patterns: type `&LambdaRequest` is non-empty"
I recently upgraded from 0.6 to 0.7 and my HTTTP handler code (receiving requests from APIGW) broke until I added two features that I found which enabled these enum variants: `apigw_rest` and `apigw_http`

[code]

[2022-10-27 13:43] Vidhiakbari commented on #555
Hey,
Can I get the source code of the Basic MIPS assembler in C. ????

[2022-10-28 15:46] chadbrewbaker commented on #551
Agreed. Cargo lambda is bringing in some zig dependencies. As someone who has to have a binary bill of materials for all this on FedRamp - needs more tests.

Minimal example I can think of with sufficient IO surface is a lambda that runs a payload through the "wc" command line utility and returns the result.

The reference build script also needs a PGO/BOLT mode like rustc does - https://github.co

[2022-10-29 19:39] m-mueller678 opened #559 "Error("missing field `identity_id`", ...) when invoking with temporary credentials"
I ran into an issue trying to invoke a lambda function from the aws CLI using temporary credentials. The function apperas to fail in deserialization before running my handler.

# What I did
This is the CLI call. The credentials were obtained from [GetCredentialsForIdentity](https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetCredentialsForIdentity.html) via the [rust sdk](https:

[2022-11-02 21:25] reeslabree opened #561 "interpret json event camelCase into snake_case"
I feel like I recall seeing something somewhere to interpret camel case into snake case when deserializing the event payload for lambda_http with a macro, something along the lines of:

[code]

Does this ring a bell for anyone?

[2022-11-02 21:29] davidbarsky commented on #561
Not really an issue that should be on this repo, but I think you're looking for https://serde.rs/container-attrs.html#rename_all.

[2022-11-03 05:36] reeslabree commented on #561
Thanks David!

[2022-11-03 05:36] #561 closed

[2022-11-04 01:34] timClicks commented on #551
For anyone considering to take this on, a good place to add this functionality is within the [`check-examples.sh`](https://github.com/awslabs/aws-lambda-rust-runtime/blame/main/examples/check-examples.sh) script.

[2022-11-05 12:20] m-mueller678 commented on #559
I do specify the identity id to the `GetCredentialsForIdentity` call. And I do obtain valid credentials. I just tried using the same AWS CLI command (with the same credentials) to call a Node.js hello world lambda, and that does work.

For completeness, this is how I get the credentials:
[code]
where `auth` is obtained from `https://archiver.auth.eu-west-1.amazoncognito.com/oauth2/token`

[2022-11-12 13:13] m-mueller678 commented on #559
Not quite sure what function call you're referring to, I'll assume the node.js lambda.
`contxt.identity_id` is `undefined`. I think the corresponding entry is `idenitity` from [here](https://docs.aws.amazon.com/lambda/latest/dg/nodejs-context.html)? It says it's for mobile apps, which confuses me a bit.
Anyway, `context.identity` is
[code]

[2022-11-17 16:29] yhakbar opened #567 "Headers Duplicated in Response"
I might be using `lambda_http::Response` wrong, but while trying to do something like the following:

[code]

I get this response when I curl my HTTP API GW endpoint to get the response headers.

[code]

Interestingly, the `content-type` header is not duplicated here, while the `x-api-cache` and `cache-control` headers are duplicated.

It seemed to me like the root cause might be the clone that ta

[2022-11-17 19:51] yhakbar commented on #567
I was able to uncover the root cause of the issue. I was using the API Gateway payload format version `1.0` instead of  `2.0`. Leaving this issue open for visibility that this is an issue for payload format version `1.0`, but please feel free to close if I just missed that this payload format version isn't supported for `lambda_http`

[2022-11-17 21:33] yhakbar commented on #567
Just a thought, though @calavera : shouldn't `lambda_http` have some sort of flag it can set to adjust how the `LambdaResponse` is generated if the developer is aware of the API GW payload format version and that it might cause header duplication? Is that not a concern of this crate?

[2022-11-23 11:28] nakedible-p commented on #329
I was really busy, so forgot all about answering this. It doesn't really matter to me if this is mentioned in the docs or not, but I'll make the case here nevertheless.

There are many cases where the functionality of Lambda depends on a big library which provides many separate but related functions.

One can build a separate binary and Lambda zip for every different function, but if the binaries

[2022-11-30 10:57] phbender opened #568 "Example for a unit test for lambda_http"
Hi,

`lambda_http` looks good and I like the fact that it uses the `http` structures.

However, as an unexperienced Rust developer I am not yet capable to figure out how to access my `Response` in a unit test.

My code looks like this:

[code]

`function_handler` in this example is my handler function with signature `pub async fn function_handler(event: Request) -> Result<impl IntoResponse, Error>

[2022-11-30 17:20] franksl opened #570 "Capturing Errors in Request"
Hi,
Given the base handler:

`
async fn function_handler(event: LambdaEvent<Request>) -> Result<Response, Error> {
}
`

How can I capture errors generated when parsing the Request data, coming for example as a json object from function invocation?
I have a function linked to an REST api on Api Gateway and I'm not able to find how to capture the error generated when passing an invalid json as input